@import './../base/var';

* {
	box-sizing: border-box;
	font-family: arial, "Microsoft JhengHei", "微軟正黑體", sans-serif;
}

body{
  background-color: #000;
}

.wrap {
	max-width: 1920px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	z-index: 2;
}
