/*  login 開始*/

$rwd: 650px;
// @include loginRWD{}
@mixin loginRWD {
	@media screen and (max-width: 650px) {
		@content;
	}
}

div.loginWrap {
	width: 100%;
	height: 100vh;
	position: fixed;
	display: none;
	z-index: 20;

	div.greyGlass {
		width: 100%;
		height: 100vh;
		background-color: rgba(134, 134, 134, 0.288);
		z-index: 10;
	}

	div.loginBox {
		width: 800px;
		height: 500px;
		font-size: 0px;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		z-index: 95;
		overflow: hidden;
		border-radius: 10px;
		box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

		@media screen and (max-width: 850px) {
			width: 400px;
		}
		@media screen and (max-width: 410px) {
			width: 360px;
		}

		div.createArea {
			display: inline-block;
			width: 50%;
			height: 100%;
			background-color: #124f6e;
			vertical-align: top;
			color: white;
			overflow: hidden;
			z-index: 95;
			transition: all 0.6s ease-in-out;

			@media screen and (max-width: 850px) {
				width: 100%;
				transform: translateY(-100%);
			}

			form {
				display: inline-block;
				position: relative;
				transition: all 0.6s ease-in-out;
				left: 50%;
				transform: translateX(-50%);

				label:first-child {
					margin-top: 60px;
				}

				label {
					font-size: 16px;
					display: block;
					margin-top: 10px;
					margin-bottom: 5px;
					letter-spacing: 2px;
				}

				input {
					font-size: 16px;
					display: block;
					border-radius: 15px;
					border: 0px;
					text-align: center;
					height: 25px;
					width: 200px;
				}

				input.BorderColor {
					border: 3px solid red !important;
				}

				#createAccount {
					background-color: $yellow;
					color: $black;
					outline: none;
					border: 0px;
					border-radius: 10px;
					width: 150px;
					height: 40px;
					margin-top: 40px;
					cursor: pointer;
					position: relative;
					left: 50%;
					transform: translateX(-50%);
					font-size: 20px;
				}
				p {
					font-size: 14px;
					color: white;
					text-align: center;
					margin-top: 25px;
					cursor: pointer;
					display: none;

					@media screen and (max-width: 850px) {
						display: block;
					}
				}
			}

			input:focus {
				outline: none;
			}
		}

		div.loginArea {
			display: inline-block;
			width: 50%;
			height: 100%;
			background-color: #124f6e;
			vertical-align: top;
			color: white;
			overflow: hidden;
			z-index: 95;
			transition: all 0.6s ease-in-out;

			@media screen and (max-width: 850px) {
				width: 100%;
				transform: translateY(-100%);
			}
			form {
				display: inline-block;
				position: relative;
				transition: all 0.6s ease-in-out;
				left: 50%;
				transform: translateX(-50%);

				img {
					margin-top: 30%;
					margin-bottom: 10%;
				}

				input {
					font-size: 16px;
					display: block;
					border-radius: 15px;
					border: 0px;
					text-align: center;
					height: 25px;
					width: 200px;
					margin: 0 auto;
					margin-top: 20px;
				}

				#login {
					background-color: $yellow;
					color: $black;
					outline: none;
					border: 0px;
					border-radius: 10px;
					width: 150px;
					height: 40px;
					margin-top: 40px;
					cursor: pointer;
					position: relative;
					left: 50%;
					transform: translateX(-50%);
					font-size: 20px;
				}

				input:focus {
					outline: none;
				}

				p {
					font-size: 14px;
					color: white;
					text-align: center;
					margin-top: 25px;
					cursor: pointer;
					display: none;

					@media screen and (max-width: 850px) {
						display: block;
					}
				}
			}
		}

		div.upArea {
			width: 400px;
			height: 100%;
			background-color: #124f6e;
			white-space: nowrap;
			overflow: hidden;
			z-index: 99;
			position: absolute;
			top: 0px;
			left: 0px;
			transition: all 0.6s ease-in-out;
			transform: translateX(0%);

			@media screen and (max-width: 850px) {
				display: none;
			}

			div.slideBlock {
				width: 100%;
				height: 100%;
				position: relative;
				transition: all .6s ease-in-out;
				transform: translateX(0%);

				div.item1 {
					display: inline-block;
					width: 100%;
					height: 100%;
					background-image: url("../images/login/createImg.png");
					background-size: contain;
					vertical-align: top;
					transition: all 0.6s ease-in-out;
					transform: translateX(0%);

					p {
						font-size: 16px;
						color: white;
						width: 100%;
						text-align: center;
						margin-top: 60%;
						font-weight: 300;
						transition: all .8s ease-in-out;
						transform: translateX(0%);
					}

					button {
						background-color: $red;
						font-size: 16px;
						color: white;
						outline: none;
						border: 0px;
						border-radius: 10px;
						width: 150px;
						height: 40px;
						margin-top: 30px;
						cursor: pointer;
						position: relative;
						left: 50%;
						transform: translateX(-50%);
						transition: all .8s ease-in-out;
					}
				}

				div.item2 {
					display: inline-block;
					width: 100%;
					height: 100%;
					background-image: url("../images/login/loginImg.png");
					background-size: contain;
					vertical-align: top;

					p {
						font-size: 16px;
						color: white;
						width: 100%;
						text-align: center;
						margin-top: 60%;
						font-weight: 300;
						transition: all .8s ease-in-out;
						transform: translateX(0%);
					}

					button {
						background-color: $red;
						color: white;
						outline: none;
						font-size: 18px;
						border: 0px;
						border-radius: 10px;
						width: 150px;
						height: 40px;
						margin-top: 30px;
						cursor: pointer;
						position: relative;
						left: 50%;
						transform: translateX(-50%);
						transition: all .8s ease-in-out;
					}
				}
			}
		}

		#closeIcon {
			position: absolute;
			z-index: 200;
			width: 30px;
			right: 0px;
			top: 0px;
			margin: 10px;
			cursor: pointer;
		}
	}
}

.createHide {
	left: 100% !important;
	transform: translateX(0%) !important;
	@media screen and (max-width: 850px) {
		left: 50% !important;
		transform: translateX(-50%) !important;
	}
}

.loginHide {
	left: -100% !important;
	transform: translateX(-0%) !important;
}

.move {
	transform: translateX(100%) !important;
}

.moveToLeft {
	transform: translateX(-100%) !important;
}

.item1Pmove {
	transform: translateX(-10%) !important;
}

.item1Pbotton {
	transform: translateX(-80%) !important;
}

.item2Pmove {
	transform: translateX(10%) !important;
}

.item2Pbotton {
	transform: translateX(-20%) !important;
}

/*  login 結束*/

/* header 開始 */
header {
	font-family: arial, "Microsoft JhengHei", "微軟正黑體", sans-serif;
	// position: relative;
	// z-index: 1;
	padding: 0 $fontSize*1.25;
	width: 100%;
	background-color: rgba(0, 59, 128, .5);
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;

	div.headerLeft {
		img.logo {
			width: $fontSize*18.75;

			@include bigPhone {
				display: none;
			}
		}

		img.logo1 {
			display: none;

			@include bigPhone {
				width: $fontSize*5;
				display: block;
			}
		}

		a {
			display: block;
		}
	}

	div.headerMiddle {
		nav {
			ul.computerNav {
				display: flex;

				@include laptop {
					display: none;
				}

				&:hover {
					a {
						&:hover {
							color: $blue2;

							&:before {
								content: '';
								position: absolute;
								bottom: 0;
								left: 0;
								height: 5px;
								width: 100%;
								background-color: $blue2;
							}
						}
					}
				}

				li {
					margin-left: $fontSize*3;

					a {
						font-size: $fontSize*1.5;
						font-weight: bold;
						display: block;
						color: $white;
						text-decoration: none;
						padding: $fontSize*1.5 ($fontSize/3);
						position: relative;
					}
				}

				li:first-child {
					margin-left: 0;
				}
			}
		}
	}

	div.headerRight {
		// border: 1px solid green;
		ul {
			display: flex;
			// border: 1px solid red;

			img {
				width: $fontSize*3;
				padding: $fontSize*1.5 $fontSize*0.5;
				cursor: pointer;
				margin-right: $fontSize*2;
			}

			li.shoppingCar {
				span.shoppingCount {
					border-radius: 50%;
					width: 25px;
					height: 25px;
					background-color: rgb(247, 76, 76);
					color: white;
					display: block;
					float: right;
					margin-top: 10px;
					margin-right: 10px;
					text-align: center;
					line-height: 25px;
					display: none;
				}
				label {
					// border: 1px solid red;
					cursor: pointer;
					display: block;

					input {
						// border: 1px solid red;
						display: none;
					}

					span {
						display: block;
						background-image: url('../images/shoppingIcon.png');
						background-position: center center;
						background-size: 40% 40%;
						background-repeat: no-repeat;
						height: $fontSize*5;
						width: $fontSize*5;
					}
				}

				section {
					position: absolute;
					background-color: $beige;
					padding: $fontSize;
					display: none;
					flex-direction: column;
					top: 100%;
					right: 0;

					ul {
						display: flex;
						flex-direction: column;

						li {
							display: flex;
							padding: $fontSize*0.5 0;
							border-bottom: 1px solid $black;

							// 課程照片
							.image {
								// background-image: url('../images/allCourse/course01.png');
								// background-position: center center;
								// background-repeat: no-repeat;
								// background-size: cover;
								// // border: 1px solid red;
								height: 60px;
								width: 100px;

								img.course {
									max-width: 100%;
									width: 100%;
									padding: 0;
									margin-right: 0;
								}
							}

							.info {
								padding: 0 $fontSize;
								flex-grow: 2;
								// border: 1px solid green;
								display: flex;
								flex-direction: column;
								justify-content: space-between;

								.courseTitle {
									font-size: $sp;
									font-weight: bold;
								}

								.itemTextButtom {
									// border: 1px solid red;
									display: flex;
									justify-content: space-between;
									align-items: center;

									.price {
										font-weight: bold;
										color: $red;
									}
								}
							}
						}
					}

					.shoppingTotal {
						display: flex;
						justify-content: space-between;
						padding-top: $fontSize;

						p {
							span {
								font-weight: bold;
								font-size: $sp;
								color: $red;
							}
						}

						a {
							@include btn($sp);
						}
					}
				}

				section.on {
					display: flex;
					z-index: 15;
				}
			}

			li.member {
				label {
					display: block;
					// border: 1px solid red;
					cursor: pointer;

					input {
						display: none;
					}

					span {
						display: block;
						background-image: url('../images/backEnd/memberIcon.png');
						background-position: center center;
						background-size: 40% 40%;
						background-repeat: no-repeat;
						height: $fontSize*5;
						width: $fontSize*5;
					}
				}

				ul {
					position: absolute;
					top: 100%;
					right: 0;
					// border: 1px solid red;
					background-color: $beige;
					display: none;
					flex-direction: column;
					text-align: center;

					li {
						.ccp {
							display: flex;
							align-items: center;

							&:before {
								content: '';
								background-image: url('../images/ccPoint/cc_coin.png');
								background-position: center center;
								background-size: contain;
								display: block;
								width: $fontSize*2;
								height: $fontSize*2;
								margin-right: $fontSize;
							}
						}

						a {
							text-decoration: none;
							font-weight: 500;
							display: block;
							color: $blue1;
							font-size: $bp;
							padding: $fontSize $fontSize*3;
							white-space: nowrap;

							&:hover {
								background-color: $yellow;
							}
						}
					}

					.smlSize {
						display: none;

						@include laptop {
							display: block;
						}
					}
				}

				ul.on {
					display: flex;
					z-index: 20;
				}
			}
		}
	}
}

/* header 結束 */
