//summernote
.modal-backdrop{
  display: none;
}
.modal-backdrop.in{
  display: none;
}
div.article{
  .error{
    border: 3px solid $red !important;
  }
  main{
    position: relative;
    min-height: 100vh;
    div.addArticleBackAll{
      position: fixed;
      top: 0;
      left: 0;
      z-index: -1;
      opacity: 0;
      transition: all 0.2s;
      div.addArticleBack{
        position: relative;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.6);
      }
      div.addArticle{
        height: 95%;
        width: 90%;
        max-width: 1200px;
        padding: 0px 16px;
        background-color: $beige;
        border-radius: 10px;
        position: relative;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        form.addArticleForm{
          width: 100%;
          height: 80%;
          margin: 0 auto;
          padding: 30px 0px;
          background-color: $white;
          overflow-y: scroll;
          @include clearfixed;
          div.articleTop{
            width: 70%;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            div.articleName{
              label{
                font-size: $mp;
                display: block;
                margin: 40px 0px 10px 0px;
                &:first-child{
                  margin-top: 0px;
                }
              }
              input{
                @include inputTextStyle;
                width: 350px;
              }
              div.fileStyle{
                @include inputFileStyle;
                height: 50px;
              }
              div.fileStyle.error{
                border: 3px solid $red;
              }
              p.imagesPrompt{
                font-size: $sp;
                margin-top: 20px;
                float: right;
                line-height: 20px;
                span{
                  color: $red;
                }
              }
            }
            div.articleImageOutline{
              border: 1px solid gray;
              width: 400px;
              height: 300px;
              div.articleImage{
                position: relative;
                top: 50%;
                transform: translateY(-50%);
                display: flex;
                justify-content: center;
                img{
                  width: 100%;
                  max-width: 400px;
                  max-height: 300px;
                }
              }
            }
          }
          div.articleBottom{
            width: 70%;
            margin: 40px auto 0px;
            label{
              font-size: $mp;
              display: block;
              margin-bottom: 10px;
            }
          }
          button.addBtn{
            @include addBtn;
            float: right;
            margin-top: 30px;
            margin-right: 175px;
            height: 50px;
          }
        }
        img.cancelBack{
          position: absolute;
          width: 50px;
          top: 10px;
          right: 10px;
          &:hover{
            cursor: pointer;
          }
        }
      }
    }
    div.addArticleBackAll.on{
      z-index: 5;
      opacity: 1;
    }
    div.editArticleBackAll{
      position: fixed;
      top: 0;
      left: 0;
      z-index: -1;
      opacity: 0;
      transition: all 0.1s;
      div.editArticleBack{
        position: relative;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.6);
      }
      div.editArticle{
        height: 95%;
        width: 90%;
        max-width: 1200px;
        padding: 0px 16px;
        background-color: $beige;
        border-radius: 10px;
        position: relative;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        form.editArticleForm{
          width: 100%;
          height: 80%;
          margin: 0 auto;
          padding: 30px 0px;
          background-color: $white;
          overflow-y: scroll;
          div.articleTop{
            width: 70%;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            div.articleName{
              p.articleNumber{
                font-size: $mp;
              }
              label{
                font-size: $mp;
                display: block;
                margin: 40px 0px 10px 0px;
                &:first-child{
                  margin-top: 0px;
                }
              }
              input{
                @include inputTextStyle;
                width: 350px;
              }
              div.editFileStyle{
                @include inputFileStyle;
                width: 350px;
                height: 50px;
              }
              select{
                @include selectStyle;
                width: 350px;
              }
              p.imagesPrompt{
                font-size: $sp;
                margin-top: 10px;
                float: right;
                line-height: 20px;
                span{
                  color: $red;
                }
              }
            }
            div.articleImageOutline{
              border: 1px solid gray;
              width: 400px;
              height: 300px;
              div.articleImage{
                position: relative;
                top: 50%;
                transform: translateY(-50%);
                display: flex;
                justify-content: center;
                img{
                  width: 100%;
                  max-width: 400px;
                  max-height: 300px;
                }
              }
            }
          }
          div.articleBottom{
            width: 70%;
            margin: 40px auto 0px;
            label{
              font-size: $mp;
              display: block;
              margin-bottom: 10px;
            }
            textarea{
              @include inputTextStyle;
              width: 97.5%;
              height: 500px;
              resize: none;
            }
          }
          button.saveBtn{
            @include saveBtn;
            float: right;
            margin-top: 30px;
            margin-right: 175px;
          }
        }
        img.cancelBack{
          position: absolute;
          width: 50px;
          top: 10px;
          right: 10px;
          &:hover{
            cursor: pointer;
          }
        }
      }
    }
    div.editArticleBackAll.on{
      z-index: 5;
      opacity: 1;
    }
    h2{
      @include backTitle;
    }
    div.searchContent{
      @include blockStyle;
      label{
        font-size: $mp;
        display: block;
        margin-bottom: 5px;
      }
      div.upLoadTime{
        display: inline-block;
        margin-bottom: 20px;
        div.dateRange{
          display: flex;
          input{
            @include datepickerStyle;
            width: 200px;
            &:first-child{
              margin-right: 15px;
            }
          }
          p{
            font-size: $mp;
            line-height: 40px;
            margin-right: 15px;
          }
        }
      }
      div.status{
        display: inline-block;
        margin-left: 50px;
        select{
          @include selectStyle;
          width: 170px;
        }
      }
      div.searchContentBottom{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        div.articleName{
          input{
            @include inputTextStyle;
            width: 675px;
          }
        }
        button{
          @include backBtn;
        }
      }
    }
    div.addOrCancle{
      display: flex;
      justify-content: flex-end;
      margin: 25px 0px;
      padding-right: 5px;

      button.cancleButton{
        @include cancelBtn;
        height: 50px;
      }
      button.addButton{
        @include addBtn;
        margin-left: 40px;
        margin-right: 50px;
        height: 50px;
      }
      button.putOnButton{
        @include onBtn;
        margin-right: 40px;
      }
    }
    div.table{
      font-size: $bp;
      max-width: 100%;
      div.tr{
        display: flex;
        flex-shrink: 0;
        padding: $fontSize 10px;
        &:nth-child(2n-1){
          background: $beige;
        }
        div.td{
          width: 80px;
          display: flex;
          align-items: center;
          line-height: 32px;
          label{
            cursor: pointer;
            input{
              @include checkbox;
            }
          }
          &:nth-child(2){
            flex-grow: 3;
          }
          &:nth-child(3){
            flex-grow: 2;
          }
          &:nth-child(4){
            flex-grow: 10;
          }
          &:nth-child(5){
            button{
              @include editBtn;
            }
          }
        }
      }
      div.tr.title{
          font-weight: bold;
          background: bisque;
      }
    }
    div.changePage{
      float: right;
      @include clearfixed;
      margin-right: 30px;
      margin-top: 30px;
      margin-bottom: 10px;
      button{
        @include changePage;
        height: 50px;
      }
      button.nextPage{
        margin-left: 40px;
      }
    }
  }
}