div.member{
    min-height: 100vh;
    font-family: arial, "Microsoft JhengHei", "微軟正黑體", sans-serif;
    main{
        h2 {
			@include backTitle;
        }
        .searchbar {
            @include blockStyle;
            @include clearfixed;
            label{
                font-size: $mp;
            }
            input{
                @include inputTextStyle;
                width: 200px;
            }
            div{
                display: inline-block;
                margin-right: $fontSize;
            }
			button {
				@include backBtn;
                white-space: nowrap;
                float: right;
                margin-top: $fontSize*0.8;
            }
            select{
                @include selectStyle;
            }
            .poDate{
                display: block;
                margin-top: $fontSize;
                float: left;
                span{
                    font-size: $bp;
                    margin: 0 5px;
                }
                input{
                    @include datepickerStyle;
                }
            }

        }        
        .table {
            margin-top: $fontSize*2;
			table {
				font-size: $bp;
				width: 100%;
				button {
					@include editBtn;
					cursor: pointer;
                }
                thead{
					th {
						font-weight: bold;
                        padding: $fontSize*1.5 0;
                        text-align: left;
                        &:nth-child(1){
                            padding-left: $fontSize;
                            width: 15%;
                        }
                        &:nth-child(2){
                            width: 22%;
                        }
                        &:nth-child(3){
                            width: 18%;
                        }
                        &:nth-child(4){
                            width: 10%;
                        }
                        &:nth-child(5){
                            width: 25%;
                        }
                        &:nth-child(6){
                            width: 10%;
                        }
                        
					}
                }
                tbody{
                    tr {
                    width: 100%;
                    
                    &:nth-child(2n+1){
                        background-color: $beige;
                    }
                    

					td {
                        &:nth-child(1){
                            padding-left: 10px;
                        }
                        padding: $fontSize*1.5 0;
                        font-size: $mp*1.2;
                        // text-align: center;
                        
                        
					}
                }
				
				}
            }
        }        
        .changePage {
            display: flex;
            justify-content: flex-end;
            .lastPage,
            .nextPage {
                @include changePage;
                margin: $fontSize * 2;
            }
        }

        .overlay{
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            background-color: hsla(0, 0%, 0%, .5);
            opacity: 0;
            z-index: -1;
            transition: all .3s;
            .overlayInside{
                    position: relative;
                    height: 100%;
                    overflow: hidden;
                .outColor{
                    @include clearfixed;
                    background-color: $beige;
                    width: 90%;
                    height: 100%;
                    max-width: 1200px;
                    border-radius: 10px;
                    padding: $fontSize;
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    margin: auto;
    
    
                    .closeBtn_{
                        position: absolute;
                        right: 10px;
                        top: 10px;
                        img{
                            width: $h2;
                            top: $fontSize;
                            right: $fontSize;
                            cursor: pointer;
                            display: flex;
                            align-self: left;
                        }
                    }
                    .weAreInside{
                        height: 85%;
                        overflow-y: auto;
                        padding: $fontSize;
                        background-color: white;
                        
                        .accountArea{
                            margin-top: 50px;
                            padding: 0 20px;
                            display: flex;
                            .leftArea{
                                p{
                                    color: red;
                                    text-align: center;
                                    margin-top: $fontSize;
                                }
                                .accountImg{
                                    border: 5px solid $orange;
                                    border-radius: 50%;
                                    overflow: hidden;
                                    width: 200px;
                                    height: 200px;
                                    margin: 0 30px;
                                    position: relative;
                                    img{
                                        height: 100%;  
                                        width: 100%; 
                                        position: absolute;  
                                        top: 0;  
                                        bottom: 0;  
                                        left: 0;  
                                        right: 0;  
                                        margin: auto;
                                    }
                                }
                            }
                            
                            .rightInputArea{
                                margin-left: $fontSize*3;
                                div{
                                    margin-bottom: $fontSize;
                                }
                                label{
                                    display: inline-block;
                                    font-size: $bp;
                                    width: 150px;
                                }
                                select{
                                    @include selectStyle;
                                }
                                input{
                                    @include inputTextStyle;
                                    margin: 10px 0;
    
                                    &[readonly]{
                                        background-color: $blue2;
                                    }
                                }
                                
                            }
                            
                        }
    
                        .teacherTextarea{
                            font-size: $bp;
                            display: flex;
                            align-items: start;
                            textarea{
                                font-size: $mp;
                                resize: none;
                                border-radius: 8px;
                                width: 500px;
                                height: 200px;
                            }
                        }
    
                        .saveBtn{
                            @include saveBtn;
                            float: right;
                            margin-top: $fontSize*2;
                            margin-bottom: $fontSize*5;
                        }
    
                        // badge table-------------
                        .badge_table{
                            display: block;
                            table {
                                font-size: $bp;
                                width: 100%;
                                margin: 0 auto;
                                thead{
                                    tr{
                                        background-color: $beige;
    
                                    }
                                    th {
                                        font-weight: bold;
                                        padding: $fontSize*1.5 0;
                                        text-align: center;
                                    }
                                }
                                tbody{
                                    tr {
                                    width: 100%;
                                    
                                    &:nth-child(2n){
                                        background-color: $beige;
                                    }
                                    
                                    
                                    td {
                                        padding: $fontSize*1.5 0;
                                        font-size: $mp;
                                        text-align: center;
                                    }
                                }
                                
                                }
                            }
                        }
    
    
                        // order Detail table-------------
                        .orderDetail_table{
                            display: block;
                            font-size: $bp;
                            width: 100%;
                            margin: 0 auto;
                            table {
                                font-size: $bp;
                                width: 100%;
                                margin: 0 auto;
                                thead{
                                    tr{
                                        background-color: $beige;
    
                                    }
                                    th {
                                        font-weight: bold;
                                        padding: $fontSize*1.5 0;
                                        text-align: center;
                                    }
                                }
                                tbody{
                                    tr {
                                    width: 100%;
                                    
                                    &:nth-child(2n){
                                        background-color: $beige;
                                    }
                                    
                                    td {
                                        padding: $fontSize*1.5 0;
                                        font-size: $mp;
                                        text-align: center;
                                    }
                                }
                                
                                }
                            }
                        }
    
                        // course Detail table-------------
                        .courseDetail_table{
                            display: block;
                            font-size: $bp;
                            width: 100%;
                            margin: 0 auto;
    
                            table {
                                font-size: $bp;
                                width: 100%;
                                margin: 0 auto;
                                thead{
                                    tr{
                                        background-color: $beige;
    
                                    }
                                    th {
                                        font-weight: bold;
                                        padding: $fontSize*1.5 0;
                                        text-align: center;
                                        background-color: $beige;
                                    
                                    }
                                }
                                tbody{
                                    tr {
                                    width: 100%;
                                
                                    &:nth-child(2n){
                                        background-color: $beige;
                                    }
                                    
                                    td {
                                        padding: $fontSize*1.5 0;
                                        font-size: $mp;
                                        text-align: center;
                                    }
                                }
                                
                                }
                            }
                        }
                
                    }
                    
    
                }
            }
            
            
        }
        div.overlay.-on{
            opacity: 1;
            z-index: 1;
        }
            
        
    }
}