.orderMain {
    flex-wrap: wrap;
    //需告變數
    //置中
    $center: 0 auto;

    //  @include filterLabel;
    @mixin filterLabel {
        font-size: 22px;
        display: block;
        margin-bottom: 5px;
    }

    main {
        min-height: 100vh;
        h2 {
            @include backTitle;
        }

        form.filter {
            @include blockStyle;
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 100px;
            justify-content: space-between;
            flex-direction: row-reverse;

            .date,
            .orderNum,
            .memberNum {
                label {
                    @include filterLabel;
                }
            }

            .date {

                .date_input {
                    display: flex;
                    margin-bottom: 20px;
                    align-items: center;

                    p {
                        font-size: 22px;
                        padding: 0px 10px;
                    }

                    input {
                        @include datepickerStyle;
                        width: 150px;
                        border: .5px solid black;
                    }
                    ::placeholder {
                        font-size: 0.8em;
                    }
                }
            }


            .orderNum {
                input {
                    @include selectStyle;
                    width: 200px;
                    border: .5px solid black;
                }

                ::placeholder {
                    font-size: 0.8em;
                }
            }

            .memberNum {
                input {
                    @include selectStyle;
                    width: 150px;
                    border: .5px solid black;
                }
                ::placeholder {
                    font-size: 0.8em;
                }
            }

            button {
                @include backBtn;
                align-self: flex-end;
            }

        }

        .searchResult {

            table {
                font-size: $bp;
                width: 100%;
                margin: 0 auto;

                tr {
                    width: 100%;

                    th {
                        font-weight: bold;
                        padding: $fontSize*1.5 0;

                        label {
                            cursor: pointer;
                        }
                    }

                    // &:nth-child(4) {
                    //     width: 20%;
                    // }
                }

                td {
                    // border-top: 1px solid $black;
                    text-align: center;
                    padding: $fontSize*1.5 0;
                }
            }

            tbody {

                tr:nth-child(odd) {
                    background-color: $beige;
                }
            }

            button {
                @include editBtn;
                cursor: pointer;
            }
        }

        // 換頁按鈕
        .changePage {
            display: flex;
            justify-content: flex-end;

            .lastPage,
            .nextPage {
                @include changePage;
                margin: $fontSize * 2;
            }
        }
    }

    // 燈箱
    .orderInfo.-on {
        /* 加上 -on 之後，訂單資訊 漸漸出現，因為有設定 transition */
        opacity: 1;
        z-index: 1;
    }

    .orderInfo {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: hsla(0, 0%, 0%, .5);
        // overflow: hidden;

        /* 預設：完全透明；設定 z-index: -1 會在整個頁面的後方，看不到，才不會擋到頁面元素。 */
        opacity: 0;
        z-index: -1;
        transition: all .3s;


        section {
            background-color: $white;
            width: 90%;
            height: 90%;
            max-width: 1200px;
            border-radius: 10px;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            margin: auto;


            h2 {
                font-size: 32px;
                font-weight: 600;
                margin: 30px 0 30px 40px;
            }

            img.close {
                width: $h2;
                position: absolute;
                top: $fontSize;
                right: $fontSize;
                cursor: pointer;
            }

            .orderList {
                background-color: $beige;
                margin: $center;
                margin-bottom: 20px;
                font-size: 26px;
                box-shadow: 1px 3px 2px rgb(206, 206, 206);

                width: 95%;
                height: 75%;
                overflow: hidden;
                overflow-y: auto;



                table {
                    font-size: $bp;
                    width: 93%;
                    margin: $center;

                    tr {
                        width: 100%;

                        td.listTitle {
                            font-weight: 600;
                        }

                        td {

                            padding: $fontSize*1.5 0;

                            p {
                                padding: $fontSize 0;

                            }
                        }


                    }
                }

            }

            // button {
            //     float: right;
            //     outline: none;
            //     border: none;
            //     color: $white;
            //     background-color: $orange;
            //     font-size: $mp;
            //     padding: 5px 20px 5px 20px;
            //     border-radius: 25px;
            //     background-repeat: no-repeat;
            //     background-size: 24px 24px;
            //     background-position: center left 20px;
            //     margin: 10px 30px;
            //     // position: absolute;
            //     // right: 0;
            //     // bottom: 0;

            //     &:hover {
            //         cursor: pointer;
            //         background-color: $blue2;
            //     }
            // }

        }

    }
}