//字型大小
$fontSize: 16px;

// LOGO隱藏網站名、課程名稱、評價分數、Banner大標題
$h1: $fontSize * 3.75; //60px

// 黃底線
$h2: $fontSize * 3; //48px

// 次要標題、簽到Button
$h3: $fontSize * 2.5; //40px

// 黃色Button、課程價錢、星系名稱
$h4: $fontSize * 2; //32px

//主要內文
$bp: $fontSize * 1.625; //26px

//次要內文
$mp: $fontSize * 1.375; //22px

//卡號、訂單金額
$sp: $fontSize; //16px

//午夜藍: header, footer, 彈跳視窗, 部分背景色
$blue1 : #182749;

//沁涼藍: hover的按鈕, 月曆文字, 至頂按鈕, navbar目前所在位置提示
$blue2 : rgb(91, 196, 227);

//文青藍: 登入註冊背景、我的徽章背景
$blue3 : #124f6e;

//金木橘: 標體下底線
$orange : #ffb102;

//玉子黃：按鈕, 評價星星
$yellow : rgb(252, 201, 59);

//梔子白: 部分背景色
$beige : rgb(251, 247, 235);

//純淨白: 文字
$white: rgb(255, 255, 255);

//極致黑：網站背景黑
$black: rgb(0, 0, 0);

//火箭紅: 收藏愛心, 購物車數量提示, 預約額滿提示
$red : rgb(249, 67, 62);