@import '../base/var';

// 按鈕，用法：@include btn($px);

// 各RWD斷點使用的btn
// @include btn($h4);
// @include smlPad{
// 	@include btn($bp);
// }
// @include bigPhone{
// 	@include btn($mp);
// }
// @include smlPhone{
// 	@include btn($sp);
// }

@mixin btn ($px) {
	font-size: $px;
	outline: none;
	transform-style: preserve-3d;
	text-decoration: none;
	color: $blue1;
	border-radius: ($px/3);
	padding: ($px/3) $px;
	font-weight: bold;
	position: relative;
	overflow: hidden;
	transition: width .3s;
	z-index: 1;
	border-bottom: ($px/6) solid #b47f02;
	border-left: ($px/6) solid #b47f02;
	cursor: pointer;

	&:before {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: $orange;
		z-index: -2;
	}

	&:after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 0%;
		height: 100%;
		background-color: $blue2;
		transition: width .3s;
		z-index: -1;
	}

	&:hover {
		color: $black;
		transform: translateX($px/10) translateY($px/10);

		&:after {
			width: 100%;
		}
	}

	&:active {
		color: $black;
		transform: translateX($px/5) translateY($px/5);
		padding: ($px/3) $px;

		&:after {
			width: 100%;
		}
	}

	@content;
}

// 標題黃線，用法：@include h2;
// 各RWD斷點使用的h2
// @include smlPad{
// 	font-size: $h3;
// }
// @include bigPhone{
// 	font-size: $h4;
// }
// @include smlPhone{
// 	font-size: $bp;
// }
@mixin h2 {
	font-size: $h2;
	font-weight: bold;
	position: relative;
	margin: 50px 0;

	&:before {
		content: '';
		position: absolute;
		left: 0;
		bottom: -10px;
		display: block;
		max-width: 1200px;
		width: 100%;
		border-bottom: 1px solid $beige;
	}

	&:after {
		content: '';
		position: absolute;
		left: 0;
		bottom: -10px;
		display: block;
		width: 300px;
		width: 25%;
		border-bottom: 10px solid $yellow;
	}

	@content;
}

// 使用float時的清除浮動方法: @include clearfixed;
@mixin clearfixed {
	&:after {
		content: '';
		display: table;
		clear: both;
	}
}

// keyframe動畫：引用方法在下面描述，用法

@mixin keyframes($name) {
	@-webkit-keyframes #{$name} {
		@content;
	}

	@-moz-keyframes #{$name} {
		@content;
	}

	@keyframes #{$name} {
		@content;
	}
}

//keyframe動畫引用方式
// @include keyframes(rotating) {
//     0% {
//         transform: rotate(0deg);
//     }
//     100% {
//         transform: rotate(360deg);
//     }
// }

//keyframe動畫用在標籤內
// #yourElement{
//     ...
//     animation: rotating 1s linear infinite;
// }

// ==============後台的樣式================

// 標題 ex課程管理、專欄管理、預約管理, 用法 @include backTitle;
@mixin backTitle {
	font-size: $h4;
	margin: 50px 0px 20px 30px;
	font-weight: bold;
}

// 後台管理上面有搜尋按鈕的區塊  用法 @include blockStyle;
@mixin blockStyle {
	background-color: $beige;
	// margin-left: 30px;
	padding: 20px 30px;
	border-radius: 10px;
	margin: 0 auto;
	width: 88%;
}

// 下拉式選單樣式 主要統一大概樣式 至於長度各位在自己調整
// 用法 @include selectStyle; 放在select
@mixin selectStyle {
	border: 1px solid gray;
	font-size: $mp;
	padding: 5px;
	border-radius: 8px;
	outline: none;
	cursor: pointer;
	@content;
}

// 月曆輸入框樣式 用法 @include datepickerStyle;
@mixin datepickerStyle {
	border: 1px solid gray;
	font-size: $mp;
	border-radius: 8px;
	outline: none;
	padding: 5px 10px;
	background-image: url("./../images/backEnd/calendaricon.png");
	background-repeat: no-repeat;
	background-size: 30px;
	background-position: center right 10px;

	&:hover {
		cursor: pointer;
	}
}

// 文字輸入框  用法 @include inputTextStyle;
@mixin inputTextStyle {
	border: 1px solid gray;
	font-size: $mp;
	border-radius: 8px;
	outline: none;
	padding: 5px 10px;
}

//checkbox打勾勾，用法 @include checkbox;
//使用時，結構要長這樣<label><input type="checkbox"><span></span></label>
//label要記得給cursor: pointer;
@mixin checkbox {
	display: none;

	+ span {
		background-image: url('../images/backEnd/blank-check-box.svg');
		display: inline-block;
		width: $mp;
		height: $mp;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: contain;
		margin-left: $fontSize;
	}

	&:checked + span {
		width: $mp;
		height: $mp;
		display: inline-block;
		background-image: url('../images/backEnd/check-box.svg');
		background-repeat: no-repeat;
		background-position: center center;
		background-size: contain;
		margin-left: $fontSize;
	}

	@content;
}

// 搜尋btn樣式  用法 @include backBtn;
@mixin backBtn {
	cursor: pointer;
	height: 50px;
	outline: none;
	border: none;
	color: $white;
	background-color: $blue1;
	padding: 10px 10px 10px 38px;
	border-radius: 30px;
	font-size: $mp;
	background-image: url("./../images/backEnd/searchicon.png");
	background-repeat: no-repeat;
	background-size: 20px 20px;
	background-position: center left 13px;
	box-shadow: 5px 5px 10px -5px black;

	&:hover {
		color: $blue1;
		background-color: $blue2;
		background-image: url("./../images/backEnd/searchicon1.png");
	}
}

// 新增按鈕樣式  用法 @include addBtn;
@mixin addBtn {
	cursor: pointer;
	outline: none;
	border: none;
	font-size: $mp;
	color: $white;
	background-color: $orange;
	padding: 10px 10px 10px 45px;
	border-radius: $fontSize*2;
	background-image: url("./../images/backEnd/addicon.png");
	background-repeat: no-repeat;
	background-size: 28px 28px;
	background-position: center left 10px;
	box-shadow: 5px 5px 10px -5px black;

	&:hover {
		color: $blue1;
		background-color: $blue2;
		background-image: url("./../images/backEnd/addicon1.png");
	}
}

// 下架按鈕樣式 用法 @include cancelBtn;
@mixin cancelBtn {
	cursor: pointer;
	outline: none;
	border: none;
	font-size: $mp;
	color: $white;
	background-color: $red;
	padding: 10px 10px 10px 45px;
	border-radius: $fontSize*2;
	background-image: url("./../images/backEnd/cancelicon.png");
	background-repeat: no-repeat;
	background-size: 28px 28px;
	background-position: center left 10px;
	box-shadow: 5px 5px 10px -5px black;

	&:hover {
		color: $blue1;
		background-color: $blue2;
		background-image: url("./../images/backEnd/cancelicon1.png");
	}
}

// 上架按鈕樣式 用法 @include onBtn;
@mixin onBtn {
	cursor: pointer;
	outline: none;
	border: none;
	font-size: $mp;
	color: $white;
	background-color: #1eca07;
	padding: 10px 10px 10px 45px;
	border-radius: $fontSize*2;
	background-image: url("./../images/backEnd/Icon awesome-check-circle.png");
	background-repeat: no-repeat;
	background-size: 28px 28px;
	background-position: center left 10px;
	box-shadow: 5px 5px 10px -5px black;

	&:hover {
		color: $blue1;
		background-color: $blue2;
		background-image: url("./../images/backEnd/Icon awesome-check-circle1.png");
	}
}

// 編輯按鈕樣式 用法 @include editBtn;
@mixin editBtn {
	outline: none;
	border: none;
	color: $blue1;
	background-color: $white;
	white-space: nowrap;
	border-radius: 25px;
	font-size: $sp;
	padding: 5px 15px;
	box-shadow: 5px 5px 10px -5px black;

	&:hover {
		color: $blue1;
		background-color: $blue2;
		cursor: pointer;
	}
}

//上一頁和下一頁的按鈕樣式，用法  @include changePage;
@mixin changePage {
	cursor: pointer;
	border: none;
	outline: none;
	background-color: $blue1;
	color: $white;
	font-size: $mp;
	padding: $fontSize*0.5 $fontSize*2;
	border-radius: $fontSize*2;
	box-shadow: 5px 5px 10px -5px black;

	&:hover {
		background-color: $blue2;
		color: $blue1;
	}
}

//圖片上傳的input按鈕樣式，用法  @include uploadImg;
@mixin uploadImg {
	font-size: $mp;
	padding: 5px;
	border-radius: 8px;
	border: 1px solid black;
	outline: none;
	cursor: pointer;
}

// 儲存按鈕樣式 用法 @include saveBtn;
@mixin saveBtn {
	cursor: pointer;
	outline: none;
	border: none;
	color: $white;
	background-color: $orange;
	font-size: $mp;
	padding: 5px 20px 5px 55px;
	border-radius: 30px;
	background-image: url("./../images/backEnd/saveicon.png");
	background-repeat: no-repeat;
	background-size: 24px 24px;
	background-position: center left 20px;

	&:hover {
		color: $blue1;
		background-color: $blue2;
		background-image: url("./../images/backEnd/saveicon1.png");
	}
}

// input file樣式  用法 @include inputFileStyle;
// html格式<div><input type="file"><p></p><button></button></div>
// 自行+class 或 id , 要寫js來連動input file用的 可參考article.js
@mixin inputFileStyle {
	border: 2px solid gray;
	border-radius: 8px;
	height: 40px;
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: cell;

	input {
		display: none;
	}

	p {
		font-size: $mp;
		max-width: 285px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	button {
		outline: none;
		border: none;
		background-color: $yellow;
		border-radius: 20px;
		padding: 20px 30px;
		background-image: url("./../images/backEnd/camera.png");
		background-repeat: no-repeat;
		background-size: 30px;
		background-position: center;
		cursor: pointer;
	}
}

// ================RWD====================

//media queries的width變數
$laptop: 1200px;
$bigPad: 992px;
$smlPad: 768px; //iPad Mini(直)、iPad(直)
$bigPhone: 576px; //568px	iPhone 5/SE(橫)
$smlPhone: 414px; //iPhone 6/7/8 Plus(直)，另外要特別注意375px時候的版型，iPhone 6/7/8(直)、iPhone X(直)都是375px

//筆電1200px，用法  @include laptop{}
@mixin laptop {
	@media screen and (max-width: $laptop) {
		@content;
	}
}

//大平板992px，用法  @include bigPad{}
@mixin bigPad {
	@media screen and (max-width: $bigPad) {
		@content;
	}
}

//小平板768px，用法  @include smlPad{}
@mixin smlPad {
	@media screen and (max-width: $smlPad) {
		// h2用h3的字體大小
		// h3用h4的字體大小
		@content;
	}
}

//大手機576px，用法  @include bigPhone{}
@mixin bigPhone {
	@media screen and (max-width: $bigPhone) {
		// h2用h4的字體大小
		// h3用bp的字體大小
		@content;
	}
}

//小手機414px，用法  @include smlPhone{}
@mixin smlPhone {
	@media screen and (max-width: $smlPhone) {
		// h2用bp的字體大小
		// h3用mp的字體大小
		@content;
	}
}
