/* spaceStation 開始 */

div.article {
  $light: #0c76f0;
  $radarSize: 200px;
  main {
    height: 1000px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    img.astronaut1 {
      position: absolute;
      top: 2000px;
      left: 0;
      z-index: 1;
      animation: astronautFly1 90s infinite;
    }
    img.astronaut2 {
      position: absolute;
      width: 150px;
      top: 2000px;
      left: 100px;
      z-index: 1;
      animation: astronautFly2 180s infinite;
    }
    img.astronaut3 {
      position: absolute;
      width: 300px;
      top: 300px;
      left: 2000px;
      z-index: 1;
      animation: astronautFly3 60s infinite;
    }
    img.planet1 {
      position: absolute;
      width: 100px;
      top: 1000px;
      right: 50px;
      z-index: 1;
      animation: planet1 120s infinite;
    }
    img.planet2 {
      position: absolute;
      width: 50px;
      top: 400px;
      left: -200px;
      z-index: 1;
      animation: planet2 240s infinite;
    }
    img.planet3 {
      position: absolute;
      width: 30px;
      top: 750px;
      right: -100px;
      z-index: 1;
      animation: planet3 300s infinite;
    }
    img.planet4 {
      position: absolute;
      width: 10px;
      top: 450px;
      left: 300px;
      z-index: 1;
      animation: planet4 240s infinite cubic-bezier(0.86, 0.12, 0.95, 0.61);
    }
    img.bottomLayer {
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      z-index: 2;
    }
    div.allContent {
      position: relative;
      position: absolute;
      top: 0;
      left: 50%;
      z-index: 5;
      transform: translateX(-50%) translateZ(100px);
      width: 1200px;
      @include laptop {
        width: 900px;
        height: 800px;
        margin-top: 20px;
      }
      @include bigPad {
        width: 700px;
      }
      @include smlPad {
        width: 530px;
      }
      @include bigPhone {
        width: 100%;
      }
      div.blur {
        position: absolute;
        top: 2.5%;
        left: 2%;
        width: 96%;
        height: 94.5%;
        overflow: hidden;
        @include bigPhone {
          display: none;
        }
        img {
          position: absolute;
          top: -2.5%;
          left: -32.5%;
          -webkit-filter: blur(10px);
          filter: blur(10px);
          @include laptop {
            left: -61%;
            top: -5.5%;
          }
          @include bigPad {
            left: -92.5%;
            top: -5%;
          }
          @include smlPad {
            left: -107%;
          }
          @include smlPad {
            left: -138%;
          }
        }
      }
      div.backColor {
        position: absolute;
        top: 2.5%;
        left: 2%;
        width: 96%;
        height: 94.5%;
        background-color: rgba(24, 39, 73, 0.7);
        z-index: 4;
        @include bigPhone {
          background-color: rgba(11, 17, 32, 0.9);
          -webkit-filter: blur(2px);
          filter: blur(2px);
        }
      }
      div.panel {
        width: 100%;
        position: relative;
        z-index: 5;
        overflow: hidden;
        img {
          width: 100%;
          @include laptop {
            height: 800px;
            width: 900px;
          }
          @include bigPad {
            width: 700px;
          }
          @include smlPad {
            width: 530px;
          }
          @include bigPhone {
            width: 100%;
          }
        }
      }
      div.panelTop {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 6;
        h2 {
          @include h2;
          color: $white;
          position: absolute;
          top: 0;
          left: 8%;
          @include laptop {
            left: 5%;
            font-size: $h3;
          }
          @include bigPad {
            font-size: $h4;
            top: -2%;
            left: 6%;
          }
          @include smlPad {
            font-size: $bp;
          }
          @include bigPhone {
            left: 7%;
            width: 85%;
          }
          &::before {
            width: 1000px;
            @include laptop {
              width: 800px;
            }
            @include bigPad {
              width: 610px;
            }
            @include smlPad {
              width: 465px;
            }
            @include bigPhone {
              width: 100%;
            }
          }
        }
        input {
          position: absolute;
          top: 6%;
          left: 40%;
          z-index: 5;
          border: 2px solid #fcc93d;
          border-radius: 10px;
          outline: none;
          padding: 10px 50px 10px 15px;
          font-size: $mp;
          background: white;
          background-image: url(./../images/article/searchicon.png);
          background-repeat: no-repeat;
          background-position: center right 10px;
          background-size: 35px 35px;
          @include laptop {
            width: 300px;
            top: 5%;
            left: 36%;
          }
          @include bigPad {
            font-size: $sp;
            width: 250px;
            top: 12%;
            left: 32%;
          }
          @include smlPad {
            width: 200px;
            left: 31%;
          }
          @include smlPhone {
            width: 180px;
            left: 28%;
          }
        }
        img.battery {
          position: absolute;
          top: 6%;
          right: 7%;
          @include laptop {
            top: 5%;
          }
          @include bigPad {
            width: 120px;
          }
          @include smlPad {
            top: 4%;
          }
        }
        p.prePage {
          position: absolute;
          top: 15.5%;
          right: 10%;
          font-size: $h4;
          color: $blue2;
          font-weight: 700;
          &:hover {
            cursor: pointer;
            color: $blue1;
          }
          @include laptop {
            top: 15%;
          }
          @include smlPad {
            font-size: $mp;
            right: 11%;
            top: 17%;
          }
        }
        div.content {
          width: 84%;
          height: 71%;
          position: relative;
          left: 7.5%;
          top: 20%;
          overflow-y: scroll;
          &::-webkit-scrollbar {
            width: 8px;
            height: 8px;
          }
          &::-webkit-scrollbar-thumb {
            border-radius: 100px;
            box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.6);
            background: rgba(0, 85, 244, 0.9);
          }
          &::-webkit-scrollbar-track {
            box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
            border-radius: 0;
            background: rgba(0, 0, 0, 0.5);
          }
          div.articleTitle {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            div.articleInside {
              width: 350px;
              margin: 50px 75px;
              @include laptop {
                width: 250px;
                margin: 40px 60px;
              }
              @include bigPad {
                margin: 40px 45px;
                width: 200px;
              }
              @include smlPad {
                width: 160px;
                margin: 30px 28px;
              }
              @include bigPhone {
                width: 90%;
                margin: 30px 20px;
              }
              div.articleImageScale {
                width: 100%;
                margin-bottom: 20px;
                overflow: hidden;
                img {
                  width: 100%;
                  transition: all 1s;
                  &:hover {
                    cursor: pointer;
                    transform: scale(1.2);
                  }
                }
              }
              h4 {
                width: 100%;
                font-size: $h4;
                color: $white;
                text-align: center;
                @include bigPad {
                  font-size: $bp;
                }
                @include smlPad {
                  font-size: $mp;
                }
              }
            }
            div.articleInside.none {
              display: none;
            }
          }
          div.articleTitle.none {
            display: none;
          }
          div.articleContent {
            position: relative;
            padding: 30px 50px;
            color: $white;
            @include bigPad {
              padding: 30px 40px;
            }
            @include smlPad {
              padding: 20px 30px;
            }
            @include bigPhone {
              padding: 15px 15px;
            }
            div.original{
              h3 {
                font-size: $h3;
                font-weight: bold;
                margin-bottom: 30px;
                @include bigPad {
                  font-size: $h4;
                }
                @include smlPad {
                  font-size: $bp;
                }
              }
              img {
                display: block;
                max-width: 600px;
                max-height: 400px;
                margin: 40px 0px 20px 30px;
                @include bigPad {
                  max-height: 200px;
                  max-width: 300px;
                }
                @include smlPhone{
                  max-height: 150px;
                  max-width: 225px;
                }
              }
              h4 {
                font-size: $h4;
                margin: 20px 0px 15px 30px;
                font-weight: bold;
                line-height: $h3;
                @include bigPad {
                  font-size: $bp;
                  line-height: $h4;
                }
                @include smlPad {
                  font-size: $mp;
                  line-height: $bp;
                }
              }
              p {
                margin: 20px 0px 35px 30px;
                font-size: $mp;
                letter-spacing: 2px;
                line-height: $bp;
                @include smlPad {
                  font-size: $sp;
                }
              }
              a {
                font-size: $mp;
                color: $blue2;
                margin: 0px 0px 20px 30px;
                word-break: break-all;
                @include bigPhone{
                  font-size: $sp;
                }
              }
            }
            div.favoriteBack{
              position: absolute;
              right: 1%;
              top: 10px;
              display: inline-block;
              font-size: $h4;
              @include smlPad{
                font-size: $bp;
              }
              @include smlPhone{
                font-size: $mp;
              }
              span{
                margin-right: 10px;
                font-size: 26px;
                &:hover{
                  cursor: pointer;
                }
                @include bigPad{
                  font-size: 20px;
                }
                @include bigPhone{
                  font-size: 16px;
                }
              }
              i{
                color: #d4d4d4;
                background-color: $white;
                padding: 10px;
                border-radius: 50%;
                cursor: pointer;
              }
              i.collected{
                color: $red;
              }
            }
          }
          div.articleContent.none {
            display: none;
          }
        }
      }
    }
    div.ecgBack {
      position: absolute;
      left: 3%;
      bottom: 20%;
      z-index: 6;
      opacity: 1;
      animation: upDown 5s infinite linear;
      transition: all 1s;
      img {
        height: 200px;
        width: 400px;
        opacity: 0.9;
      }
      svg {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        polyline {
          fill: none;
          stroke: $blue2;
          stroke-width: 3;
          stroke-linecap: round;
          stroke-dashoffset: 1000;
          stroke-dasharray: 1000;
          opacity: 0;
          animation: ecg 2s linear forwards infinite;
          box-shadow: 1px 1px 10px 3px black;
        }
      }
    }
    div.ecgBack.colse {
      @media screen and (max-width: 1750px) {
        opacity: 0;
        z-index: -1;
      }
    }
    div.radarBack {
      position: absolute;
      right: 4%;
      bottom: 17%;
      z-index: 6;
      opacity: 1;
      transition: all 1s;
      img.radarBackImage {
        width: 350px;
        animation: radarBackRotate 60s infinite linear;
      }
      div.radar {
        position: relative;
        position: absolute;
        bottom: 12%;
        right: 21%;
        z-index: 3;
        width: $radarSize;
        height: $radarSize;
        background-image: url("./../images/article/radar.png");
        background-size: $radarSize $radarSize;
        div.radarLine {
          position: absolute;
          z-index: 3;
          left: 10.5820106%;
          right: 10.5820106%;
          top: 10.5820106%;
          bottom: 50%;
          transform-origin: 50% 100%;
          border-radius: 50% 50% 0 0 / 100% 100% 0 0;
          background-image: linear-gradient(
            135deg,
            rgba(5, 53, 185, 0.8) 0%,
            rgba(0, 0, 0, 0.02) 70%,
            rgba(0, 0, 0, 0) 100%
          );
          animation: radarRotate 3s infinite linear;
          &::after {
            content: "";
            position: absolute;
            width: 50%;
            bottom: -1px;
            border-top: 2px solid rgba(0, 85, 244, 0.8);
            box-shadow: 0 0 3px rgba(0, 85, 244, 0.6);
            border-radius: 3px;
          }
        }
        div.radarShadow {
          width: $radarSize;
          height: $radarSize;
          border-radius: 50%;
          position: absolute;
          left: 0%;
          top: 0%;
          z-index: 3;

          box-shadow: 0 0 30px 2px blue;
          animation: radarShadow 1s infinite ease;
        }
      }
    }
    div.radarBack.close {
      @media screen and (max-width: 1750px) {
        opacity: 0;
        z-index: -1;
      }
    }
    div.bluelight {
      width: 350px;
      height: 5px;
      position: absolute;
      left: 50%;
      bottom: -1px;
      z-index: 3;
      background-color: $light;
      transform-style: preserve-3d;
      transform: translateX(-50%) perspective(100px) rotateX(-60deg);
      backface-visibility: hidden;
      animation: blueLight 2.5s infinite alternate;
      transition: width 2s;
      @media screen and (max-width: 1750px) {
        width: 220px;
      }
      @include laptop {
        width: 180px;
      }
      @include bigPad {
        width: 140px;
      }
      @include smlPad {
        width: 100px;
      }
      @include smlPhone {
        width: 80px;
      }
    }
  }
  @keyframes astronautFly1 {
    0% {
      transform: translateY(0px);
    }
    100% {
      transform: translate(2300px, -2500px);
    }
  }
  @keyframes astronautFly2 {
    0% {
      transform: translateY(0px);
    }
    100% {
      transform: translateY(-3800px) rotate(-720deg);
    }
  }
  @keyframes astronautFly3 {
    0% {
      transform: translateX(0px);
    }
    100% {
      transform: translateX(-3000px);
    }
  }
  @keyframes planet1 {
    0% {
      transform: translateY(0px);
    }
    100% {
      transform: translateY(-2000px);
    }
  }
  @keyframes planet2 {
    0% {
      transform: translate(0px, 0px);
    }
    100% {
      transform: translate(3500px, -3500px);
    }
  }
  @keyframes planet3 {
    0% {
      transform: translate(0px, 0px);
    }
    100% {
      transform: translate(-5500px, -2000px);
    }
  }
  @keyframes planet4 {
    0% {
      opacity: 0;
      transform: translate(0px, 0px);
    }
    10% {
      opacity: 1;
      transform: scale(2);
    }
    100% {
      transform: translate(-1200px, -100px) scale(180);
    }
  }
  @keyframes blueLight {
    from {
      box-shadow: 0 0px 1px rgba($light, 0.9), 0 -20px 20px rgba($light, 0.9),
        0 -40px 30px rgba($light, 0.9), 0 -50px 20px rgba($light, 0.9),
        0 -60px 30px rgba($light, 0.9), 0 -70px 20px rgba($light, 0.9),
        0 -80px 20px rgba($light, 0.9), 0 -85px 5px rgba($light, 0.5),
        0 -1px 2px rgba($light, 0.8), 0 -80px 5px rgba($light, 0.15),
        0 -2px 3px rgba($light, 0.8), 0 -3px 4px rgba($light, 0.8),
        0 -4px 6px rgba($light, 0.8), 0 -5px 10px rgba($light, 0.75),
        0 -7px 20px rgba($light, 0.75), 0 -10px 30px rgba($light, 0.75),
        0 -15px 40px rgba($light, 0.75), 0 -25px 50px rgba($light, 0.75),
        0 -35px 60px rgba($light, 0.85), 0 -45px 70px rgba($light, 0.95),
        0 -65px 80px rgba($light, 1), 0 -75px 90px rgba($light, 1);
    }
    to {
      box-shadow: 0 0px 1px rgba($light, 0.9), 0 -20px 15px rgba($light, 0.9),
        0 -40px 15px rgba($light, 0.9), 0 -50px 15px rgba($light, 0.9),
        0 -60px 10px rgba($light, 0.9), 0 -70px 15px rgba($light, 0.9),
        0 -80px 15px rgba($light, 0.9), 0 -80px 5px rgba($light, 0.3),
        0 -1px 2px rgba($light, 0.8), 0 -1px 5px rgba($light, 0.15),
        0 -2px 3px rgba($light, 0.8), 0 -3px 4px rgba($light, 0.8),
        0 -4px 6px rgba($light, 0.8), 0 -5px 7px rgba($light, 0.75),
        0 -7px 10px rgba($light, 0.75), 0 -10px 15px rgba($light, 0.75),
        0 -15px 20px rgba($light, 0.75), 0 -25px 25px rgba($light, 0.75),
        0 -35px 30px rgba($light, 0.85), 0 -45px 35px rgba($light, 0.95),
        0 -65px 40px rgba($light, 1), 0 -75px 50px rgba($light, 1);
    }
  }
  @keyframes radarBackRotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes ecg {
    0% {
      opacity: 0;
    }
    25% {
      opacity: 1;
    }
    50% {
      stroke-dashoffset: 2000;
    }
    99% {
      opacity: 0;
      stroke-dashoffset: 3000;
    }
    100% {
      stroke-dashoffset: 1000;
    }
  }
  @keyframes upDown {
    0% {
      transform: translateY(0%);
    }
    25% {
      transform: translateY(-2%);
    }
    50% {
      transform: translateY(0%);
    }
    75% {
      transform: translateY(2%);
    }
    100% {
      transform: translateY(0%);
    }
  }
  @keyframes radarRotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }
  @keyframes radarShadow {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}
/* spaceStation 結束 */
