$bdr: 20px;
$ccFontNum: 'Roboto Mono',
monospace;

.ccPoint {
    width: 100%;

    .cc_main {
        max-width: 1200px;
        margin: 0 auto;

        .noticeGroup {
            margin-top: 50px;
            display: flex;
            justify-content: space-around;
            align-items: center;

            //768
            @include smlPad {
                flex-direction: column;
            }
        }

        .ccNotice {
            background-color: $beige;
            width: 300px;
            padding: 30px;
            line-height: 40px;

            @include laptop {
                width: 250px;
                margin-bottom: 50px;
            }
            @include smlPhone{
               
                padding: 20px;
                font-size: $sp;
                width: 200px;

            }

                
            p{
                text-align: center;
                font-size: $h4;

                @include laptop {
                    font-size: $bp;
                }

            }
        }

        .getNotice {
            p {
                width: 550px;
                padding: 15px;
                border-radius: $bdr;
                border: $orange solid 6px;
                background-color: $blue2;
                text-align: center;
                color: #fff;
                font-size: $h3;

                animation: flipInX; 
                animation-duration: 2.5s; 

                @include laptop {
                    font-size: $h4;

                }

                @include bigPad {
                    width: 400px;
                    font-size: $bp;
                }
                @include smlPhone{
                    width: 350px; 
                    padding: 10px;
                    font-size: $mp;

                }
    
            }

        }

        .ccPointDay {
            
            margin-top: 50px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            flex-wrap: wrap;

            @include laptop {
                width: 1000px;
                margin: 0 auto;
            }

            @include bigPad {
                width: 100%;
            }


            div {
                text-align: center;

                @include bigPad {
                    margin: 25px;
                }

                .day_img{
                    filter: opacity(30%)grayscale(50%);
                    -webkit-filter: opacity(30%)grayscale(50%);
                }

                >p {
                    color: $white;
                    font-size: $bp;
                    margin-bottom: 10px;

                    @include smlPad {
                        font-size: $mp;

                    }

                }


                .countCoin {
                    font-family: $ccFontNum;
                    background-color: $orange;
                    padding: 10px;
                    border-radius: 5px;
                    color: $blue1;
                    font-size: $mp;
                    margin-top: 10px;

                    @include smlPad {
                        padding: 5px;
                    }

                }

                img {
                    width: 80px;
                    padding: 10px;

                    @include smlPad {
                        width: 65px;

                    }

                }

            }

        }


        .second_area {
            margin-top: 150px;

            .ccHow {
                @include h2;
                color: $beige;
                
            @include smlPad{
                font-size: $h3;
            }
            @include bigPhone{
                font-size: $h4;
            }
            @include smlPhone{
                font-size: $bp;
            }
                
            }

            .tab_list {
                @include laptop {
                    display: flex;
                    justify-content: center;
                }

                //576
                @include bigPhone{
                    // width: 500px; 
                    // margin: 0 auto;                                 
                }

                @include smlPhone {
                    // margin: 0 auto;
                    // align-items: center;
                    // justify-content: center;
                    
                }

                >li {
                    display: inline-block;
                    background-color: #F4F4F4;
                    // padding: 20px 30px;
                    border-radius: 20px 20px 0 0;
                    font-size: $bp;
                    
                

                    @include smlPad {
                        font-size: $mp;
                    }

                    //576
                    @include bigPhone {
                        font-size: $sp;

                    }


                    @include smlPhone {
                        font-size: $sp;
                        padding: 15px 20px;
                    }

                    >a {
                        text-decoration: none;
                        color: #707070;
                        padding: 30px;
                        line-height: 50px;
                    }


                }

                li.-on {
                    color: #0a91b3;
                    background-color: #F7DA99;

                }

            }

            .tab_contents {
                margin-bottom: 150px;
                .tab {
                    border-radius: 0 10px 10px 10px;
                    padding: 10px;
                    display: none;
                    color: #707070;
                    

                    @include laptop {
                        width: 1000px;
                        margin: 0 auto;
                        border-radius: 10px 10px 10px 10px;

                    }

                    @include bigPad {
                        width: 800px;
                        border-radius: 10px 10px 10px 10px;
                    }

                    //768
                    @include smlPad {
                        width: 604px;

                    }

                    //576
                    @include bigPhone {
                        width: 500px;
                    }

                    //414
                    @include smlPhone {
                        width: 400px;
                    }
                }

                .tab1 {
                    background-color: #F7DA99;
                    padding: 20px;

                    p {
                        text-align: center;
                        font-size: $h3;
                        font-weight: 600;
                        letter-spacing: 2.5px;
                         //768
                        @include smlPad{
                        font-size: $bp;
                        }
                    }
                }

                .cc_coin_out {
                    display: flex;
                    justify-content: flex-end;

                    img {
                        width: 130px;

                        @include smlPad {
                            width: 80px;
                        }

                    }

                }

                .tabWords_1 {
                    font-size: $bp;
                    padding-bottom: 100px;
                    letter-spacing: 2.5px;
                    @include smlPad{
                        font-size: $sp;
                    }

                    span {
                        font-size: $h3;

                        @include smlPad {
                            font-size: $mp*2;
                        }

                    }
                }

                .pig {
                    width: 250px;

                    @include smlPad {
                        width: 200px;
                    }
                }



                // ---- 第二個頁籤 ----
                .tab2_title {
                    font-size: $bp;
                    font-weight: 500;
                    margin: 50px;
                    letter-spacing: 2.5px;
                }

                .tab2 {
                    position: relative;

                    .tab2_title {
                        text-align: center;
                        font-weight: 500;

                        position: relative;
                        z-index: 1;
                    }

                    >p {
                        text-align: center;
                    }

                    .save_jan {
                        z-index: 1;
                        position: relative;
                        opacity: .7;

                        background-color: #fff;
                        border-radius: 10px;
                        width: 800px;

                        @include laptop {
                            width: 800px;
                        }

                        @include bigPad {
                            width: 750px;
                            margin: 0 auto;
                        }

                        @include smlPad {
                            width: 500px;
                        }
                        @include bigPhone{
                            width: 350px;
                        }
                        @include smlPhone{
                            width: 300px;
                        }

                        ul {
                            padding: 30px;
                            font-size: $mp;
                            letter-spacing: 2.5px;

                            @include smlPad {
                                padding: 20px;
                            }

                            @include bigPhone {
                                padding: 10px;

                            }

                            li {
                                line-height: 60px;

                                @include laptop {
                                    font-size: $bp;
                                }

                                @include bigPad {
                                    font-size: $mp;
                                }

                                @include smlPad {
                                    font-size: $sp;
                                    line-height: 50px;
                                }

                                @include bigPhone {
                                    line-height: 30px;
                                }

                            }
                        }
                    }

                    .square_words {

                        z-index: 1;
                        position: relative;
                        margin: 100px 0;
                        

                        img {
                            width: 550px;

                            @include bigPhone {
                                width: 400px;
                            }

                            @include smlPhone {
                                width: 300px;
                            }
                        }
                    }

                    .save_janDiv {
                        z-index: 0;
                        position: absolute;
                        top: 100px;
                        right: 30px;

                        .save_jan_img {
                            opacity: .7;
                            width: 500px;
                            @include bigPhone{
                                width: 400px;
                            }
                            @include smlPhone{
                                width: 300px;
                                top: 250px;
                            }

                        }
                    }


                }


                .tab3 {
                    font-size: $h4;

                    .tab3_fw {
                        margin: 50px 0;
                        font-weight: 600;
                        text-align: center;
                        letter-spacing: 2.5px;
                    }

                    >p {
                        font-size: $mp;

                        margin-bottom: 50px;
                        margin-left: 150px;
                        font-style: italic;
                        letter-spacing: 2.5px;

                        @include bigPhone {
                            margin: 0 auto;
                        }
                    }

                    .circle_group {
                        font-size: $bp;
                        margin: 0 150px;
                        letter-spacing: 2.5px;
                        ul{
                            list-style-type: disc ;
                            
                            li {
                                // list-style-image: url('../images/ccPoint/list_img.svg') !important;
                                list-style:disc outside url('../images/ccPoint/list_img.svg');
                                
                                // display: inline-block;
                                @include bigPad {
                                    font-size: $mp;
                                }
    
                                @include smlPad {
                                    font-size: $sp;
                                    width: 100%;
    
                                }
                            }

                            ::marker{
                                font-size: 50px;
                            }

                        }


                        //768
                        @include smlPad {
                            display: inline;
                            margin: 0px;
                        }

                        //576
                        @include bigPhone {
                            display: inline;

                        }



                    }

                    .cc_people {
                        margin-top: 50px;
                        display: flex;
                        justify-content: space-around;

                        div {

                            .cc_boy {
                                width: 210px;

                                @include smlPad {
                                    width: 150px;
                                }
                                @include smlPhone{
                                    width: 100px;
                                }
                            }   
                        }

                        .scale_100 {
                            border: $orange 15px solid;
                            width: 350px;
                            text-align: center;
                            font-family: $ccFontNum;
                            font-size: 60px;
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            @include smlPad {
                                width: 180px;
                                font-size: $h3;
                            }
                            @include smlPhone{
                                border: $orange 5px solid;
                                width: 100px;
                                font-size: $mp;
                            }
                        }

                        .cc_girl {
                            width: 100px;

                            @include smlPad {
                                width: 80px;
                            }
                            @include smlPhone{
                                width: 50px;
                            }
                        }





                    }



                }

                .-on {
                    display: block;
                    background-color: #F7DA99;
                    font-size: 25px;
                    line-height: 40px;
                    padding: 50px;

                    @include bigPad {
                        padding: 30px;
                    }

                }
            }

        }

    }

}