.info {
    width: 100%;

    .info_main {
        max-width: 1200px;
        margin: 0 auto;
        position: relative;

        


        .info_title {
            @include h2;
            color: $beige;
            @include smlPad{
                font-size: $h3;
            }
            @include bigPhone{
                font-size: $h4;
            }
            @include smlPhone{
                font-size: $bp;
            }
        }

        .info_area {
            width: 100%;
            padding: 80px 0;
            display: flex;
            justify-content: space-evenly;

            @include laptop {
                display: flex;
                flex-direction: column;
                align-items: center;
                
                   
            }    
        }

        .op_circle {
            width: 200px;
            height: 200px;
            background-color: #fff;
            border-radius: 50%;
            position: relative;
            animation: fadeInLeft; 
            animation-duration: 2s; 

            @include laptop {
                margin-bottom: 50px;
            }



            .account_pic {
                border: $orange 5px solid;
                border-radius: 50%;
                width: 200px;
                height: 200px;
                overflow: hidden;

                img{
                    &:nth-child(1){
                        width: 100%;
                        height: 100%;

                    }
                    &:nth-child(2){
                        width: 200px;
                        height: 200px;
                        display: none;

                    }

                } 
                
            }

            label {
                position: relative;
                bottom: 60px;
                left: 140px;
                display: none;

                img {
                    width: 50px;
                    cursor: pointer;

                }

            }

        }

        .left_cc {

            flex-direction: column;
            align-content: space-around;

        }
        .info_card {
            animation: fadeInRight; 
            animation-duration: 2s; 
            @include laptop {
                margin-top: 20px;
            }

            form {
                padding: 40px;
                background-color: $beige;
                width: 850px;
                display: flex;
                flex-direction: column;
                font-size: $bp;

                @include laptop {
                    width: 750px;
                    margin: 0 auto;
                }

                @include smlPad {
                    width: 450px;
                    font-size: $mp;
                }

                @include bigPhone {
                    width: 400px;
                    padding: 20px;

                }


                label {
                    padding: 10px;
                    span{
                        padding-left: 10px;
                        color: rgb(177, 177, 177);
                        font-size: $sp;
                    }

                    @include smlPad {
                        font-size: $mp;
                        
                    }  
                    @include smlPhone{
                        font-size: $sp;

                    }
                    input.input{
                        // border: none;
                        border: rgba(255, 255, 255, 0) solid;
                        padding: 20px;
                        border-radius: 20px;
                        height: 35px;
                        width: 300px;
                        outline: none;
                        font-size: $bp;
                        .errorTextColor{
                            color: $red;
                        }
                        
                        @include bigPhone{
                            height: 25px;
                            width: 200px;
                            font-size: $mp;
                        }
                        @include smlPhone{
                            font-size: $sp;

                        }
                    }
                    
                    .fa-eye{
                    cursor: pointer;
                    display: none;
                    }



                }

                p {
                    // text-align: center;
                    color: $black;

                }

                img {
                    width: 30px;
				    box-shadow: -0.2px 0.6px 3px rgb(172, 172, 172);
        
                }
            }

            .editFile {
                text-align: center;
                align-self: flex-end;
                border-bottom: $orange 5px solid;
                padding-bottom: 6px;
                cursor: pointer;
                width: 180px;
                color: #9B9595;

                @include smlPad {
                    font-size: $sp;
                    width: 100px;
                }
            }
                
            .sendBtn{
                display: none;
                @include btn($bp);
                //  width: 200px;
                align-self: flex-end;
                @include smlPad{
                    @include btn($mp);
                }

                @include bigPhone {
                    @include btn($mp);
                }

                @include smlPhone {
                    @include btn($sp);
                }

            }
        }
        // 第二部分（我的課程）
        .info_second {

            p.notBuyAny{
                text-align: center;
                font-size: $h4;
                color: $white;
            }

            .course_title{
                @include h2;
                color: $beige;
                @include smlPad{
                    font-size: $h3;
                }
                @include bigPhone{
                    font-size: $h4;
                }
                @include smlPhone{
                    font-size: $bp;
                }

            }
            .course {
				display: flex;
                justify-content: space-around;
                flex-wrap: wrap;
                text-decoration: none;
                
				@include laptop {
					justify-content: space-evenly;
				}

				/*一般課程*/
                .wrapFundraising {
                    margin: 50px 0px;
                    width: 340px;
                    border-radius: 20px;
                    background-color: $white;
                    position: relative;
                    overflow: visible;
                    .time {
                        font-size: 22px;
                        padding-bottom: 5%;

                        @include bigPhone {
                            font-size: 16px;

                        }
                    }
                    p.title {
                        height: $fontSize*5.4;
                        padding-bottom: 5%;
                        font-size: 26px;
                        font-weight: 600;
                        line-height: $fontSize*2.2;

                        @include bigPhone {
                            font-size: 22px;
                            line-height: 30px;
                        }
                    }
                        
                    @include laptop {
                        margin: 50px 20px;
                    }
        
                    @include bigPhone {
                        display: flex;
                        width: 430px;
                        margin: 20px 0px;
                    }
                    a.Main{
                        display: block;
                        color: $black;
                        text-decoration: none;
                    }
                    
                    // 愛心按鈕
                    .favorites {
                        border-radius: 50%;
                        background-color: $white;
                        position: absolute;
                        top: 0;
                        right: 0;
                        transform: translate(-10%, 270%);
        
                        @include bigPhone {
                            transform: translate(-20%, 310%);
                            box-shadow: -0.2px 0.6px 3px rgb(172, 172, 172);
                        }
        
                        i {
                            font-size: 30px;
                            padding: 10px;
                            cursor: pointer;
                            color: rgb(212, 212, 212);
        
                            @include bigPhone {
                                font-size: 25px;
                                padding: 10px;
                            }
                        }
        
                        i.is-active {
                            color: $red;
                        }
                    }
        
                    img.tImg {
                        width: 80px;
                        border-radius: 50%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        transform: translate(25%, -50%);
        
                        @include bigPhone {
                            display: none;
                        }
                    }
        
                    a.img {
                        display: block;
                        width: 100%;
        
                        @include bigPhone {
                            width: 200px;
                            margin: 4% 2%;
                        }
        
                        img {
                            width: 100%;
                            border-radius: 20px 20px 0 0;
        
                            @include bigPhone {
                                border-radius: 10px 10px 10px 10px;
                            }
                        }
                    }
        
                    .c_Main {
                        padding: 3% 3% 5%;
        
                        @include bigPhone {
                            padding: 4% 2% 4% 0%;
        
                        }
                        .courseFundraising {
							.price {
								display: flex;
								justify-content: space-between;

								@include bigPhone {
									flex-wrap: wrap;

								}

								p.fundraisingTag {
									background-color: $red;
									color: $white;
									font-size: 17px;
									line-height: 34px;
									padding: 0px 3%;
									text-shadow: 1px 1px 3px rgb(46, 46, 46);
									white-space: nowrap;

									@include bigPhone {
										flex-wrap: wrap;
										margin: 0px 50px 10px 0px;
										line-height: 30px;

									}
								}

								.textFund {
									display: flex;
									margin-right: 10px;
									align-items: flex-end;

									p.preOrder {
										font-size: 26px;
										margin-right: 5px;

										@include bigPhone {
											font-size: 20px;
										}
									}

									p.price {
										font-size: $h4;
										color: $red;
										font-weight: 800;

										@include bigPhone {
											font-size: 26px;
											font-weight: 600;
										}
									}
								}
							}

							// 進度條
							.progressbar {
								height: 15px;
								background-color: #e9ecef;
								border-radius: 8px;
								position: relative;
								overflow: hidden;
								margin: 7% 0px;

								@include bigPhone {
									display: none;

								}

								span.progress {
									display: inline-block;
									position: absolute;
									top: 0;
									left: 0;
									height: 100%;
									box-sizing: border-box;
									background-color: $blue2;
								}
							}

							.funNum {
								font-size: 19px;
								text-align: center;

								@include bigPhone {
									display: none;

								}
							}
						}
                    }
                }

				.wrapGeneral {
					margin: 50px 0px;
					width: 340px;
					border-radius: 20px;
					background-color: $white;
					position: relative;
					overflow: visible;

					@include laptop {
						margin: 50px 20px;
					}

					@include bigPhone {
						display: flex;
						width: 430px;
						margin: 20px 0px;
                    }
                    
                    a.Main{
                        display: block;
                        color: $black;
                        text-decoration: none;
                    }

                    .favorites {
                        border-radius: 50%;
                        background-color: $white;
                        position: absolute;
                        top: 0;
                        right: 0;
                        transform: translate(-10%, 270%);
        
                        @include bigPhone {
                            transform: translate(-20%, 310%);
                            box-shadow: -0.2px 0.6px 3px rgb(172, 172, 172);
                        }
        
                        i {
                            font-size: 30px;
                            padding: 10px;
                            cursor: pointer;
                            color: rgb(212, 212, 212);
        
                            @include bigPhone {
                                font-size: 25px;
                                padding: 10px;
                            }
                        }
        
                        i.is-active {
                            color: $red;
                        }
                    }
					img.tImg {
						width: 80px;
						border-radius: 50%;
						position: absolute;
						top: 0;
						left: 0;
						transform: translate(25%, -50%);

						@include bigPhone {
							display: none;
						}
					}

					a.img {
                        width: 100%;
                        display: block;
                        text-decoration: none;

						@include bigPhone {
							width: 200px;
							margin: 4% 2%;
						}

						img {
							width: 100%;
							border-radius: 20px 20px 0 0;

							@include bigPhone {
								border-radius: 10px 10px 10px 10px;
							}
						}
					}

					.c_Main {
						padding: 3% 3% 5%;

						@include bigPhone {
							padding: 4% 2% 4% 0%;

						}

						p.title {
							height: $fontSize*5.4;
							padding-bottom: 5%;
							font-size: 26px;
							font-weight: 600;
							line-height: $fontSize*2.2;

							@include bigPhone {
								font-size: 22px;
								line-height: 30px;
							}
						}

						.time {
							font-size: 22px;
							padding-bottom: 5%;

							@include bigPhone {
								font-size: 16px;

							}
						}

						.comment {
							display: flex;
							font-size: 22px;
							margin-bottom: 40px;

							@include bigPhone {
								font-size: 16px;
								margin-bottom: 20px;


							}

							i {
								font-size: 20px;
								color: $yellow;

								@include bigPhone {
									font-size: 16px;
								}
							}

							p.text {
								margin-left: 10px;
								text-decoration: none;
								color: black;
							}
						}
                        
						.price {
							font-size: $h4;
							font-weight: 800;
							text-align: right;

							// padding: 0px 4% 20px 0px;
							@include bigPhone {
								font-size: $bp;
								margin-right: 30%;
								font-weight: 600;

							}
						}
					}
				}

			}
        }

                    //  （收藏課程）
        .loveCourse_area{
            .loveCourse_title{
                @include h2;
                    color: $beige;
                    @include smlPad{
                        font-size: $h3;
                    }
                    @include bigPhone{
                        font-size: $h4;
                    }
                    @include smlPhone{
                        font-size: $bp;
                    }
            }
            .wrapFundraising {
                margin: 50px 0px;
                width: 340px;
                border-radius: 20px;
                background-color: $white;
                position: relative;
                overflow: visible;
    
                @include laptop {
                    margin: 50px 20px;
                }
    
                @include bigPhone {
                    display: flex;
                    width: 430px;
                    margin: 20px 0px;
                }
                a.Main{
                    display: block;
                    color: $black;
                    text-decoration: none;
                }
                
                // 愛心按鈕
                .favorites {
                    border-radius: 50%;
                    background-color: $white;
                    position: absolute;
                    top: 0;
                    right: 0;
                    transform: translate(-10%, 270%);
    
                    @include bigPhone {
                        transform: translate(-20%, 310%);
                        box-shadow: -0.2px 0.6px 3px rgb(172, 172, 172);
                    }
    
                    i {
                        font-size: 30px;
                        padding: 10px;
                        cursor: pointer;
                        color: rgb(212, 212, 212);
    
                        @include bigPhone {
                            font-size: 25px;
                            padding: 10px;
                        }
                    }
    
                    i.is-active {
                        color: $red;
                    }
                }
    
                img.tImg {
                    width: 80px;
                    border-radius: 50%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    transform: translate(25%, -50%);
    
                    @include bigPhone {
                        display: none;
                    }
                }
    
                a.img {
                    display: block;
                    width: 100%;
    
                    @include bigPhone {
                        width: 200px;
                        margin: 4% 2%;
                    }
    
                    img {
                        width: 100%;
                        border-radius: 20px 20px 0 0;
    
                        @include bigPhone {
                            border-radius: 10px 10px 10px 10px;
                        }
                    }
                }
    
                .c_Main {
                    padding: 3% 3% 5%;
    
                    @include bigPhone {
                        padding: 4% 2% 4% 0%;
    
                    }
    
                    p.title {

                        padding-bottom: 5%;
                        font-size: 26px;
                        font-weight: 600;
                        line-height: $fontSize*2.2;
                        height: $fontSize*5.4;
    
                        @include bigPhone {
                            font-size: 22px;
                            line-height: 30px;
                            height: $fontSize*4;
                        }
    
                    }
    
                    .time {
                        font-size: 22px;
                        padding-bottom: 5%;
    
                        @include bigPhone {
                            font-size: 16px;
    
                        }
                    }
    
                    .price {
                        display: flex;
                        justify-content: space-between;
    
                        @include bigPhone {
                            flex-wrap: wrap;
    
                        }
    
                        p.fundraising {
                            background-color: $red;
                            color: $white;
                            font-size: 17px;
                            line-height: 34px;
                            padding: 0px 2%;
                            text-shadow: 1px 1px 3px rgb(46, 46, 46);
                            white-space: nowrap;
    
                            @include bigPhone {
                                flex-wrap: wrap;
                                margin: 0px 50px 10px 0px;
                                line-height: 30px;
    
                            }
                        }
    
                        .text {
                            display: flex;
                            margin-right: 10px;
                            align-items: flex-end;
    
                            p.preOrder {
                                font-size: 26px;
                                margin-right: 5px;
    
                                @include bigPhone {
                                    font-size: 20px;
                                }
                            }
    
                            p.price {
                                font-size: $h4;
                                color: $red;
                                font-weight: 800;
    
                                @include bigPhone {
                                    font-size: 26px;
                                    font-weight: 600;
                                }
                            }
                        }
                    }
    
                    .progressbar {
                        height: 15px;
                        background-color: #e9ecef;
                        border-radius: 8px;
                        position: relative;
                        overflow: hidden;
                        margin: 7% 0px;
    
                        @include bigPhone {
                            display: none;
    
                        }
    
                        span.progress {
                            display: inline-block;
                            position: absolute;
                            top: 0;
                            left: 0;
                            height: 100%;
                            box-sizing: border-box;
                            background-color: $blue2;
                        }
                    }
    
                    .funNum {
                        font-size: 19px;
                        text-align: center;
    
                        @include bigPhone {
                            display: none;
    
                        }
                    }
                }
            }
        }
        



        // ------ 收藏文章 -----
        .love_title {
            margin-top: 100px;
            @include h2;
            color: $beige;
            @include smlPad{
                font-size: $h3;
            }
            @include bigPhone{
                font-size: $h4;
            }
            @include smlPhone{
                font-size: $bp;
            }
        }

        .info_article {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-evenly;
                    text-align: center;
        
                    @include smlPad {
                        flex-direction: column;
                        align-items: center;
                    }
        
                    .aic {
                        position: relative;
        
                        .aritcleA{
                            display: block;
                            text-decoration: none;
                            width: 100%;
                        }
                        // border: 1px solid #fff;
                        @include smlPad {
                            margin: 15px 0;
                        }

                        .favorites {
                            border-radius: 50%;
                            background-color: $white;
                            position: absolute;
                            top: 0;
                            right: 0;
                            transform: translate(-10%, 270%);
            
                            @include bigPhone {
                                transform: translate(-20%, 310%);
                                box-shadow: -0.2px 0.6px 3px rgb(172, 172, 172);
                            }
            
                            i {
                                font-size: 30px;
                                padding: 10px;
                                cursor: pointer;
                                color: rgb(212, 212, 212);
            
                                @include bigPhone {
                                    font-size: 25px;
                                    padding: 10px;
                                }
                            }
            
                            i.is-active {
                                color: $red;
                            }
                        }
        
                        img {
                            width: 300px;
                            cursor: pointer;
        
                            @include bigPad {
                                width: 250px;
                            }
        
                            @include smlPad {
                                width: 300px;
                            }
        
                        }
        
                        p {
                            color: $white;
                            margin-top: 20px;
                            font-size: $bp;
                        }
        
        
                    }
                
        }
        

        .achievement_title {
            margin-top: 100px;
            @include h2;
            color: $beige;
            @include smlPad{
                font-size: $h3;
            }
            @include bigPhone{
                font-size: $h4;
            }
            @include smlPhone{
                font-size: $bp;
            }
        }

        .info_achievement {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            p{
                color: $white;
                font-size: $bp;
                margin: $fontSize*2 0;
                
            }
            //大徽章尚未獲得前，呈現狀態是 灰階＋透明。
            .big_a {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-evenly;
                div {
                    img {
                        width: 100px;
                        margin: 10px 25px;
                        filter: grayscale(100%);
                        -webkit-filter: grayscale(100%);
    
                        
    
                        @include smlPhone {
                            width: 80px;
                        }
                    }    
                }
                img.getBadge{
                    filter: grayscale(0%);
                    -webkit-filter: grayscale(0%);
                }
            }

             //小徽章尚未獲得前，呈現狀態是 灰階＋透明。
            .little_a {
                margin-top: 50px;
                padding: 50px;
                width: 100%;
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                @include smlPhone{
                    padding: 20px;
                }

                img {
                    width: 100px;
                    margin: 10px 25px;
                    filter: grayscale(100%);
                    -webkit-filter: grayscale(100%);

                    @include smlPhone{
                        width: 70px;
                    }
                }
                img.getBadge{
                    filter: grayscale(0%);
                    -webkit-filter: grayscale(0%);
                }
            }
        }
    }
    
}