/* 子瑄訂單頁面開始*/

.orderMain{
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 150px;
  min-height: calc(100vh - 172px - 84px);

  @include bigPhone{
    padding-bottom: 100px;
  }
  
    .order_title{
      @include h2;
        color: $beige;
      @include smlPad{
        font-size: $h3;
      }
      @include bigPhone{
        font-size: $h4;
      }
      @include smlPhone{
        font-size: $bp;
      }
    }
    .haveNoOrder{
      // @include clearfixed;
      display: none;
      background-color: $beige;
      border-radius: 20px;
      padding: 30px;
      position: relative;
      //1200px
      @include laptop{
        margin: 0 30px;
      }
      div{
        &:nth-child(1){
          display: flex;
          align-items: center;
          justify-content: center;
          @include bigPhone{
            flex-direction: column;
          }
            img{
              width: 200px;
              animation-name: rotation;
              animation-duration: 3s;
              animation-direction: reverse;
              animation-iteration-count: infinite;
              @include smlPad{
                width: 150px;
              }
            }
             
            p{
              padding-left: 50px;
              display: block;
              text-align: center;
              font-weight: 600;
              color: $blue3;
              line-height: 50px;
              font-size: $bp;

              //768px
              @include smlPad{
                font-size: $mp;
                line-height: 30px;
              }
              //576px
              @include bigPhone{
                padding-left: 0px;
                margin-top: 30px;
              }
            }
        }
        &:nth-child(2){
          margin-top: 60px;
          display: flex;
          justify-content: center;
          align-items: center;
          a{
            display: block;
            @include btn($h4);
           
            @include smlPad{
              @include btn($bp);
            }
            @include bigPhone{
              @include btn($mp);
            }
            @include smlPhone{
              @include btn($sp);
            }
            
          }
        }
      }
      
    }
    .orderArea{
      border: $orange 10px solid;
      width: 100%;
      font-size: 0;
      
      
      
      //RWD 1200px 以下的排版，濃縮成卡片形式。
      .UnderCard_1200{
        background-color: #fff;
        padding: 10px 20px;
        display: none;

        &:nth-child(2n){
          background-color: #FFF3D8;
        }
        &:nth-child(2n+1){
          background-color: $white;
        }


        @include laptop{
          display: block;
        }
        .underOrderNum{
          font-size: $bp;
          text-align: right;
          padding-right: 10px;
          padding-top: 10px;
          @include bigPad{
            font-size: $mp;
          }
        }

        .UnderChild_1{
          margin: 30px 0;
          padding: 30px 20px;
          display: flex;

          

          

          //768
          @include smlPad{
            flex-direction: column;
          }

          div{
            &:nth-child(1){
              width: 25%;
            }
            &:nth-child(2){
              width: 35%;
              font-size: $mp;
              margin-top: 20px;
            }
            &:nth-child(3){
              text-align: right;
              width: 40%;
              align-self: flex-end;
            }
            

            //992
            @include bigPad{

              &:nth-child(1){
                width: 33.33%;
                align-self: auto;
              }
              &:nth-child(2){
            
                width: 33.33%;
                text-align: left;
              }
              &:nth-child(3){
                text-align: center;
                width: 33.33%;
              }
            }
            
            //768
            @include smlPad{
              &:nth-child(1){
                width: 40%;
                align-self: auto;
              }
              &:nth-child(2){
                width: 60%;
                text-align: left;
              }
            }

            //576
            @include bigPhone{
              &:nth-child(2){
                width: 100%;
                text-align: left;
                font-size: $sp;
              }
            }

          }
        
          
          h3{
            font-weight: 600;
            font-size: $bp;
            @include bigPhone{
              font-size: $mp;
            }
          }
      
          div{
            img{
              width: 180px;
            } 
          }
        }
        
        .transactionDetails{
          border-top: 5px dashed $orange;
          padding-top: 30px;
      
          div{
            display: flex;
            h2{
              font-weight: 600;
            }
            &:nth-child(1){
              
              font-size: $mp;
              display: flex;
              justify-content: space-around;
              align-items: center;
              line-height: 50px;
              img{
                width: 50px; 
              }
            }
            @include bigPhone{
              flex-direction: column;
                div{
                  
                  &:nth-child(1){
                    justify-content: flex-start;
                    align-items: flex-start;
                    display: inline-block;
                    
                    h2{
                      display: inline-block;
                    }
                    p{
                      display: inline-block;
                    }
                  }
                  &:nth-child(2){
                    display: inline-block;
                    position: relative;
                    img{
                      width: 30px;
                      position: absolute;
                      left: -25px;
                      top: 10px;

                    }
                    h2{
                      display: inline-block;
                    }
                    p{
                      display: inline-block;
                    }

                  }
                }
              
              
            }
            
          }
          .detailsTotal{
            display: flex;
            justify-content: flex-end;
            font-size: $h4;
            padding: 30px;
            @include bigPhone{
              h2{
                align-self: flex-end;
                @include smlPhone{
                  font-size: $bp;
                }
              }
            }
            
          }
        
        }
      
      }

      
      //RWD 1200px 以下的排版 結束 ----

      .accordion{
       

        &:nth-child(2n){
          background-color: #FFF3D8;
        }
        &:nth-child(2n+1){
          background-color: $white;
        }
        
        @include laptop{
          display: none;
        }
        .accordion-control{
          cursor: pointer;
        }
        
        .Order_1{
          // display: flex;
          // justify-content: space-around;
          padding: 20px; 
          position: relative;
            
          div{
            &:nth-child(1){
              font-size: $h4;
              line-height: 100px;
            }

            //訂單編號
            &:nth-child(2){
              font-size: $h4;
              line-height: 100px;
              
            }

            //總計文字置底
            &:nth-child(3){
              span{
                font-size: $h4;
                position: absolute;
                bottom: 25px;
                right: 40px;
                line-height: 50px;
                
              }     
                  
            }

          }
             
        }      
      } 

      //下方收合明細，以CSS屬性製作table
      .accordion-panel{
        
        display: none;
        padding: 30px;
        font-size: $mp;
        
        #css_table {
          display:table;
          width: 100%;
          text-align: center;
        }
        .css_tr {
          display: table-row;  
        }
        .css_td {
          border-top: 1px solid #999999;
          padding: 20px 0;
          display: table-cell;
          img{
            width: 100px;
          }
        }

        .totalPrice{
          text-align: right;
            
        }

      }

}


//無訂單時產生的郵箱動畫
@keyframes rotation {
  0% {
    transform: rotate(-25deg);
  }
  50%{
     transform: rotate(25deg);
  }
  100% {
    transform: rotate(-25deg);
  }
}
        
/* 子瑄訂單頁面結束*/

}


          