.quiz{
    main{
        h2{
            @include h2;
            @include smlPad{
                font-size: $h3;
            }
            @include bigPhone{
                font-size: $h4;
            }
            @include smlPhone{
                font-size: $bp;
            }
        }
        max-width: 1200px;
        width: 95%;
        margin: 0 auto;
        color: $white;
        
        .countdown{
            display: none;
            position: relative;
            margin: auto;
            margin-bottom: $fontSize*2;
            height: 40px;
            width: 40px;
            text-align: center;
            #countdown-number {
                color: white;
                display: inline-block;
                line-height: 40px;
            }
            svg {
                position: absolute;
                top: 0;
                right: 0;
                width: 40px;
                height: 40px;
                transform: rotateY(-180deg) rotateZ(-90deg);
                circle {
                    stroke-dasharray: 113px;
                    stroke-dashoffset: 0px;
                    stroke-linecap: round;
                    stroke-width: 2px;
                    stroke: white;
                    fill: none;
                    // animation: countdown 20s linear forwards;
                }
            }
        }
        section{
            width: 100%;
            padding: $fontSize;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            border: 5px solid $orange;
            margin-bottom: $fontSize*3;
            padding: $fontSize * 3;
            font-weight: bold;
            position: relative;
            @include clearfixed;
            @include smlPad{
                margin-bottom: $fontSize*2;
                padding: $fontSize * 2;
            }
            @include bigPhone{
                margin-bottom: $fontSize*1.5;
                padding: $fontSize * 1.5;
            }
            @include smlPhone{
                margin-bottom: $fontSize;
                padding: $fontSize;
            }
            img{
                position: absolute;
            }
            .blueBg{
                padding: $fontSize;
                background-color: rgba(24, 39, 73, .9);
                display: flex;
                flex-direction: column;
                align-items: center;
                // border: 1px solid red;
                margin-bottom: $fontSize*2;
                
                h3{
                    font-size: $h3;
                    margin-bottom: $fontSize*2;
                    @include smlPad{
                        font-size: $h4;
                    }
                    @include bigPhone{
                        font-size: $bp;
                    }
                    @include smlPhone{
                        font-size: $mp;
                    }
                }
                div{
                    margin-bottom: $fontSize*2;
                    @include smlPad{
                        margin-bottom: $fontSize*1.5;
                    }
                    @include bigPhone{
                        margin-bottom: $fontSize;
                    }
                    p{
                        font-size: $bp;
                        // border: 1px solid green;
                        line-height: $h2;
                        padding-bottom: $fontSize*2;
                        display: flex;
                        align-items: start;
                        @include smlPad{
                            font-size: $mp;
                        }
                        @include bigPhone{
                            font-size: $sp;
                        }
                        
                        
                        &:before{
                            content: '';
                            display: block;
                            background-image: url('../images/quiz/chronometer.svg');
                            background-position: center center;
                            background-repeat: no-repeat;
                            background-size: contain;
                            height: $h2;
                            width: $h2;
                            // border: 1px solid red;
                            margin-right: $fontSize;
                            @include smlPad{
                                height: $h3;
                                width: $h3;
                            }
                            @include bigPhone{
                                height: $h4;
                                width: $h4;
                            }
                        }

                        &:nth-child(2){
                            &:before{
                                background-image: url('../images/quiz/question-mark.svg');
                            }
                        }

                        &:nth-child(3){
                            &:before{
                                background-image: url('../images/quiz/play.svg');
                            }
                        }
                    }
                    
                }
                .note{
                    text-decoration: underline;
                    display: block;
                }
                label{
                    font-size: $mp;
                    line-height: $h3;
                    font-weight: normal;
                    align-self: flex-start;
                    
                    @include smlPad{
                        font-size: $sp;
                        line-height: $h4;
                    }
                    input{
                        margin-right: $fontSize;
                    }
                }
            }
            button{
                @include btn($h4);
                display: block;
                float: right;
                @include smlPad{
                	@include btn($bp);
                }
                @include bigPhone{
                	@include btn($mp);
                }
                @include smlPhone{
                	@include btn($sp);
                }
            }
        }
        .inQuiz{
            display: none;
            .question{
                font-size: $bp;
                line-height: $h3;
                align-self: flex-start;
                @include smlPad{
                	font-size: $bp;
                }
                @include bigPhone{
                	font-size: $mp;
                }
            }
            .answer{
                display: flex;
                flex-direction: column;
                align-items: center;
                label{
                    font-weight: normal;
                    line-height: $h1;
                    cursor: pointer;
                    @include smlPad{
                        line-height: $h2;
                    }
                    @include bigPhone{
                        line-height: $h3;
                    }
                    @include smlPhone{
                        line-height: $h4;
                    }
                }
            }
        }
        .afterQuiz{
            display: none;

            a{
                @include btn($h4);
                display: block;
                float: right;
                @include smlPad{
                	@include btn($bp);
                }
                @include bigPhone{
                	@include btn($mp);
                }
                @include smlPhone{
                	@include btn($sp);
                }
            }
        }

        .-show{
            display: block;
        }
        .-hide{
            display: none;
        }
        
    }
}

.animation{
    animation: countdown 20s linear forwards;
}

@keyframes countdown {
    from {
      stroke-dashoffset: 0px;
    }
    to {
      stroke-dashoffset: 113px;
    }
  }
