/* tutorial開始 */
div.tutorial {
	@mixin bookAlready($px){
		font-size: $px;
		outline: none;
		color: $blue1;
		background-color: $blue2;
		border-radius: ($px/3);
		padding: ($px/3) $px;
		font-weight: bold;
		z-index: 1;
		cursor: not-allowed;
		@content;
	}
	@mixin bookFullBtn ($px){
		font-size: $px;
		outline: none;
		color: $black;
		background-color: $red;
		border-radius: ($px/3);
		padding: ($px/3) $px;
		font-weight: bold;
		z-index: 1;
		cursor: not-allowed;
		@content;
	}
	main {
		color: $white;
		max-width: 1200px;
		width: 95%;
		margin: 0 auto;
		@include smlPhone{
			width: 100%;
		}
		h2 {
			@include h2;
			color: $white;
			@include smlPad{
				font-size: $h3;
				margin: 50px 0px 20px;
			}
			@include bigPhone{
				font-size: $h4;
			}
			@include smlPhone{
				font-size: $bp;
				width: 95%;
				margin: 0 auto;
			}
		}
		h2.firstH2 {
			margin-top: 50px;
		}
		div.ask {
			width: 90%;
			background-color: rgba(91, 196, 227, .6);
			border-radius: 10px;
			padding: 30px 10px 20px;
			margin: 50px auto 30px;
			@include bigPad{
				display: flex;
				flex-direction: column;
				align-items: center;
			}
			@include smlPad{
				margin: 40px auto 20px;
				padding: 20px 10px 15px;
			}
			@include smlPhone{
				padding: 10px 5px 10px;
			}
			p.askTitle {
				width: 100%;
				text-align: center;
				font-size: $bp;
				font-weight: bold;
				margin-bottom: 20px;
				@include smlPad{
					font-size: $mp;
					letter-spacing: 2px;
				}
				@include smlPhone{
					font-size: $sp;
				}
			}
			div.askBody {
				display: flex;
				justify-content: space-between;
				align-items: flex-end;
				@include bigPad{
					display: block;
				}
				div.askBodyLeft {
					font-size: $mp;
					margin-left: 40px;
					@include laptop{
						margin-left: 20px;
					}
					@include bigPad{
						margin-bottom: 10px;
					}
					@include smlPad{
						font-size: $sp;
						margin-left: 0px;
					}
					@include smlPhone{
						font-size: 12px;
					}
					div.top {
						margin-bottom: 10px;
					}
					span {
						display: inline-block;
						width: 30px;
						height: 30px;
						background-color: #5bc4e3;
						border-radius: 100%;
						padding: 5px;
						text-align: center;
						line-height: 20px;
						margin-right: 10px;
						@include smlPad{
							width: 25px;
							height: 25px;
							line-height: 15px;
						}
						@include smlPhone{
							width: 20px;
							height: 20px;
							line-height: 20px;
							padding: 0px;
						}
					}
					p {
						display: inline-block;
					}
				}
				div.askBodyRight {
					display: flex;
					align-items: center;
					@include bigPad{
						justify-content: center;
					}
					div.blue1 {
						height: 30px;
						width: 30px;
						border-radius: 100%;
						background-color: $blue1;
						margin-right: 10px;
						@include smlPad{
							height: 25px;
							width: 25px;
						}
						@include smlPhone{
							height: 20px;
							width: 20px;
							margin-right: 5px;
						}
					}
					div.red {
						height: 30px;
						width: 30px;
						border-radius: 100%;
						background-color: $red;
						margin-right: 10px;
						@include smlPad{
							height: 25px;
							width: 25px;
						}
						@include smlPhone{
							height: 20px;
							width: 20px;
							margin-right: 5px;
						}
					}
					p {
						font-size: $mp;
						margin-right: 40px;
						@include laptop{
							margin-right: 20px;
						}
						@include smlPad{
							font-size: $sp;
						}
						@include smlPhone{
							font-size: 12px;
						}
					}
				}
			}
		}
		div.calendar {
			div.calendarHead {
				height: 150px;
				width: 100%;
				background-color: $orange;
				position: relative;
				@include laptop{
					height: 130px;
				}
				@include bigPad{
					height: 160px;
				}
				@include smlPad{
					height: 130px;
				}
				@include smlPhone{
					height: auto;
					background-color: transparent;
				}
				div.nowMonth {
					position: relative;
					position: absolute;
					top: 30%;
					left: 4%;
					color: $black;
					@include laptop{
						left: 6%;
					}
					@include bigPad{
						top: 65%;
						left: 8%;
					}
					@include smlPhone{
						left: -2%;
					}
					p#month {
						font-size: $h2;
						width: 100px;
						white-space: nowrap;
						text-align: center;
						@include smlPad{
							font-size: $h3;
						}
						@include bigPhone{
							font-size: $h4;
						}
						@include smlPhone{
							font-size: $bp;
							color: $blue2;
						}
					}
					p#year {
						font-size: $bp;
						position: absolute;
						white-space: nowrap;
						top: -70%;
						left: 35%;
						transform: translateX(-50%);
						@include smlPad{
							font-size: $mp;
						}
						@include bigPhone{
							font-size: $sp;
						}
						@include smlPhone{
							display: none;
						}
					}
					img.arrowLeft {
						width: 30px;
						overflow: hidden;
						position: absolute;
						top: 50%;
						left: -35%;
						transform: translateY(-50%) rotate(180deg);
						@include smlPad{
							width: 25px;
							left: -30%;
						}
						@include bigPhone{
							width: 20px;
							left: -15%;
						}
						@include smlPhone{
							display: none;
						}
						&:hover {
							cursor: pointer;
							background-color: $blue2;
							border-radius: 100%;
						}
					}
					img.arrowRight {
						width: 30px;
						position: absolute;
						top: 50%;
						right: -35%;
						transform: translateY(-50%);
						@include smlPad{
							width: 25px;
							right: -30%;
						}
						@include bigPhone{
							width: 20px;
							right: -15%;
						}
						@include smlPhone{
							display: none;
						}
						&:hover {
							cursor: pointer;
							background-color: $blue2;
							border-radius: 100%;
						}
					}
					img.upArrow{
						display: none;
						@include smlPhone{
							display: block;
							position: absolute;
							top: 20%;
							right: 0;
							width: 16px;
							transform: rotate(180deg);
						}
					}
					img.upArrow.none{
						@include smlPhone{
							display: none;
						}
					}
					img.downArrow{
						display: none;
						@include smlPhone{
							display: block;
							position: absolute;
							top: 20%;
							right: 0;
							width: 16px;
						}
					}
					img.downArrow.none{
						display: none;
					}
				}
				div.filterAll {
					display: flex;
					justify-content: space-around;
					align-items: center;
					height: 100%;
					width: 45%;
					margin: 0 auto;
					transform: translate(5%, 5%);
					@include bigPad{
						align-items: flex-start;
						width: 60%;
						height: auto;
						transform: translate(5%, 15%);
					}
					@include bigPhone{
						width: 100%;
						transform: translate(0, 10%);
						justify-content: center;
					}
					@include smlPhone{
						height: auto;
						background-color: $orange;
						padding: 10px 5px;
					}
					select {
						outline: none;
						appearance: none;
						width: 200px;
						padding: 10px 20px 10px 15px;
						border-radius: 20px;
						font-size: $mp;
						color: $blue1;
						background: none;
						background-image: url("./../images/tutorial/selectArrow.png");
						background-repeat: no-repeat;
						background-size: 30px;
						background-position: center right 10px;
						background-color: rgba(0, 0, 0, 0.3);
						@include laptop{
							width: 200px;
						}
						@include smlPad{
							font-size: $sp;
							background-size: 22px;
							width: 150px;
						}
						@include bigPhone{
							width: 120px;
							background-size: 18px;
							margin-right: 20px;
						}
						@include smlPhone{
							font-size: 12px;
							width: 100px;
							background-size: 16px;
						}
						option.textColor {
							color: $blue1;
							font-size: $mp;
							@include smlPad{
								font-size: $sp;
							}
						}
					}
				}
				div.allOrBuy {
					position: absolute;
					top: 8%;
					right: 2%;
					@include bigPad{
						top: 40%;
					}
					@include smlPad{
						top: 35%;
					}
					@include smlPhone{
						display: flex;
						top: 57.5%;
					}
					button {
						outline: none;
						display: block;
						width: 130px;
						padding: 7px 10px 7px 10px;
						font-size: $sp;
						border-radius: 20px;
						margin-bottom: 10px;
						border: none;
						background-color: rgba(0, 0, 0, 0.3);
						color: $blue1;
						@include smlPad{
							margin: 5px;
						}
						@include smlPhone{
							color: $white;
							width: 100px;
							&:last-child{
								margin-left: 10px;
							}
						}
						&:hover {
							cursor: pointer;
						}
					}
					button.-on {
						background-color: $blue1;
						color: $blue2;
						@include smlPhone{
							background-color: $yellow;
							color: $black;
						}
					}
				}
				div.smlPhone{
					@include smlPhone{
						height: 56px;
						width: 100%;
						background-color: $blue1;
					}
				}
			}
			div.calendarBody {
				position: relative;
				z-index: 1;
				margin-bottom: 250px;
				@include laptop{
					margin-bottom: 200px;
				}
				@include smlPad{
					margin-bottom: 150px;
				}
				@include smlPhone{
					display: none;
				}
				@media screen and (min-width: 415px) {
					display: block !important;
				}
				div.calendarTitle {
					width: 100%;
					display: flex;
					justify-content: space-around;
					padding: 30px 0;
					background-color: $blue1;
					@include laptop{
						padding: 20px 0;
					}
					@include smlPhone{
						background-color: transparent;
					}
					p {
						font-size: $h4;
						color: $blue2;
						@include smlPad{
							font-size: $bp;
						}
						@include bigPhone{
							font-size: $sp;
						}
						@include smlPhone{
							color: $blue2;
						}
					}
				}
				div.calendarDate {
					display: flex;
					flex-wrap: wrap;
					width: 100%;
					div.date {
						width: calc(100%/7);
						height: 150px;
						color: $blue2;
						font-size: $mp;
						background-color: $beige;
						padding: 10px;
						border: 1px solid #707070;
						overflow: hidden;
						@include laptop{
							height: 120px;
						}
						@include smlPad{
							font-size: $sp;
							height: 100px;
							padding: 5px 5px 5px 0px;
						}
						@include bigPhone{
							height: 80px;
						}
						@include smlPhone{
							background-color: transparent;
							height: 60px;
							text-align: center;
							padding: 10px 0px 0px 0px;
							border: none;
						}
						&:hover {
							background-color: gray;
						}

						p.dayNumber{
							margin-bottom: 10px;
							@include smlPad{
								margin-left: 5px;
							}
							@include bigPhone{
								margin-bottom: 5px;
							}
							@include smlPhone{
								margin-left: 0px;
							}

						}
						div.cellBody{
							font-size: $sp;
							background-color: $yellow;
							color: $blue1;
							padding: 10px;
							border-radius: 10px;
							white-space: nowrap;
							// overflow: hidden;
							cursor: pointer;
							@include smlPhone{
								display: none;
							}
							p{
								overflow: hidden;
								text-overflow: ellipsis;
								@include bigPhone{
									font-size: 12px;
								}
							}
						}
						div.cellBody.buy{
							background-color: $blue1;
							color: $blue2;
						}
						div.cellBody.full{
							background-color: $red;
							color: $blue1;
						}
						div.cellBody.none{
							display: none;
						}
						div.cellBody.notBuy{
							display: none;
						}
						div.smallPoint{
							display: none;
							@include smlPhone{
								display: block;
								width: 12px;
								height: 12px;
								border-radius: 50%;;
								background-color: $yellow;
								margin: 0 auto;
							}
						}
						div.smallPoint.buy{
							background-color: $blue1;
						}
						div.smallPoint.full{
							background-color: $red;
						}
						div.smallPoint.none{
							display: none;
						}
						div.smallPoint.notBuy{
							display: none;
						}
					}
					div.fadeout {
						color: rgba(91, 196, 227, 0.4);
						div.cellBody{
							opacity: .5;
						}
					}
				}
			}
		}
		// div.calendarBody.smlPhone{
		// 	display: block;
		// 	@include smlPhone{
		// 		display: none;
		// 	}
		// }
		div.phoneCourseTime{
			display: none;
			@include smlPhone{
				display: block;
				height: 45vh;
				overflow-y: scroll;
				margin-bottom: 30px;
			}
			div.phoneDay{
				padding: 8px 15px;
				display: flex;
				height: 75px;
				div.phoneDayLeft{
					width: 10%;
					justify-content: center;
					text-align: center;
					margin-right: 20px;
					p{
						&:first-child{
							color: gray;
							margin-bottom: 4px;
						}
						&:last-child{
							font-size: $mp;
							color: $blue2;
						}
					}
				}
				div.phoneDayRight{
					align-self: flex-end;
					background-color: $yellow;
					width: 85%;
					padding: 15px 0px 15px 20px;
					border-radius: 10px;
					p{
						color: $black;
						overflow: hidden;
						text-overflow: ellipsis;
						white-space: nowrap;
					}
				}
				div.phoneDayRight.buy{
					background-color: $blue1;
					p{
						color: $blue2;
					}
				}
				div.phoneDayRight.full{
					background-color: $red;
					p{
						color: $blue1;
					}
				}
			}
			div.phoneDay.none{
				display: none;
			}
			div.phoneDay.notBuy{
				display: none;
			}
		}
		div.booking {
			display: flex;
			justify-content: space-around;
			@include smlPad{
				flex-direction: column;
				align-items: center;
				margin-bottom: 100px;
			}
			@include bigPhone{
				margin-top: 50px;
			}
			div.book {
				width: 300px;
				@include laptop{
					width: 250px;
				}
				@include bigPad{
					width: 200px;
				}
				@include smlPad{
					width: 250px;
				}
				div.bookImages {
					position: relative;
					margin-top: 150px;
					@include laptop{
						margin-top: 100px;
					}
					@include smlPad{
						margin-top: 40px;
					}
					div.bookNumber {
						width: 50px;
						height: 50px;
						background-color: $blue2;
						font-size: $bp;
						color: $black;
						font-weight: bold;
						text-align: center;
						line-height: 50px;
						position: absolute;
						top: -8%;
						left: 50%;
						transform: translateX(-50%);
						@include laptop{
							width: 40px;
							height: 40px;
							line-height: 40px;
						}
					}
					img {
						max-width: 100%;
						border-radius: 50%;
					}
				}
				p {
					width: 100%;
					text-align: center;
					font-size: $h3;
					margin-top: 70px;
					margin-bottom: 250px;
					@include laptop{
						margin-top: 50px;
						margin-bottom: 200px;
					}
					@include smlPad{
						font-size: $h4;
						margin-top: 30px;
						margin-bottom: 20px;
					}
					@include bigPhone{
						font-size: $bp;
					}
					@include smlPhone{
						font-size: $mp;
					}
				}
			}
		}
		div.roomTop {
			margin-top: 150px;
			margin-bottom: 100px;
			display: flex;
			align-items: center;
			position: relative;
			z-index: 1;
			padding: 0 30px;
			@include laptop{
				margin-top: 100px;
				display: block;
				margin-bottom: 80px;
			}
			@include bigPhone{
				margin-top: 80px;
				margin-bottom: 50px;
			}
			
			img {
				width: 50%;
				@include laptop{
					width: 60%;
					position: relative;
					left: 50%;
					transform: translateX(-50%);
					margin-bottom: 30px;
				}
			}
			p {
				margin-left: 30px;
				font-size: $bp;
				line-height: 38px;
				letter-spacing: 2px;
				text-indent: $bp*2;
				&:first-child{
					margin-bottom: $h2;
				}
				&:nth-child(2){
					margin-bottom: $h2;
				}
				@include smlPad{
					font-size: $mp;
					text-indent: $mp*2;
					&:first-child{
						margin-bottom: $h3;
					}
					&:nth-child(2){
						margin-bottom: $h3;
					}
				}
				@include bigPhone{
					font-size: $sp;
					text-indent: $sp*2;
					&:first-child{
						margin-bottom: $bp;
					}
					&:nth-child(2){
						margin-bottom: $bp;
					}
				}
				
			}
		}
		div.roomCenter {
			display: flex;
			justify-content: space-around;
			position: relative;
			z-index: 1;
			@include smlPad{
				flex-direction: column;
				align-items: center;
			}
			div.cardBack {
				width: 300px;
				height: 300px;
				background-color: $beige;
				border-radius: 20px;
				@include laptop{
					width: 250px;
					height: 250px;
				}
				@include bigPad{
					width: 200px;
					height: 200px;
				}
				@include smlPad{
					width: 250px;
					height: 250px;
					margin: 10px 0;
				}
				
				div.cardLine {
					width: 90%;
					height: 90%;
					border: 3px solid $yellow;
					position: relative;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					border-radius: 15px;
					img {
						width: 100px;
						position: absolute;
						top: 10%;
						left: 50%;
						transform: translateX(-50%);
					}
					img.pencil {
						width: 50px;
					}
					img.house {
						width: 75px;
					}
					p {
						color: $black;
						text-align: center;
						font-size: $mp;
						position: absolute;
						white-space: nowrap;
						top: 60%;
						left: 50%;
						transform: translateX(-50%);
						line-height: 28px;
						letter-spacing: 2px;
						@include laptop{
							letter-spacing: 1px;
							font-size: $sp;
						}
					}
				}
			}
		}
		div.roomBottom {
			margin-top: 100px;
			margin-bottom: 150px;
			display: flex;
			align-items: center;
			flex-direction: row-reverse;
			position: relative;
			z-index: 1;
			@include laptop{
				display: block;
				margin-top: 80px;
				margin-bottom: 100px;
			}
			@include bigPhone{
				margin-top: 50px;
				margin-bottom: 60px;
			}
			
			p {
				padding: 0 30px;
				font-size: $bp;
				line-height: 38px;
				letter-spacing: 2px;
				text-indent: $bp*2;
				&:first-child{
					margin-bottom: $h2;
				}
				@include smlPad{
					font-size: $mp;
					text-indent: $mp*2;
					&:first-child{
						margin-bottom: $h3;
					}
				}
				@include bigPhone{
					font-size: $sp;
					text-indent: $sp*2;
					&:first-child{
						margin-bottom: $bp;
					}
				}
			}
			img {
				width: 50%;
				margin-left: 20px;
				margin-bottom: 5px;
				@include laptop{
					width: 60%;
					margin: 0 0 30px 0;
					position: relative;
					left: 50%;
					transform: translateX(-50%);
				}
			}
		}
		div.bookLightBoxAll{
			position: fixed;
      top: 0;
      left: 0;
      z-index: -1;
      opacity: 0;
      transition: all 0.5s;
			div.bookLightBoxBack{
				position: relative;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.6);
			}
			div.bookLightBox{
				position: absolute;
        top: 50%;
        left: 50%;
				transform: translate(-50%, -50%);
				width: 400px;
				// height: 600px;
				padding: 80px 33px 30px;
				background-color: $blue1;
				border: 5px solid $orange;
				border-radius: 15px;
				@include smlPad{
					width: 360px;
					padding: 70px 30px 30px;
				}
				@include smlPhone{
					width: 300px;
				}
				img{
					position: absolute;
					top: 2%;
					right: 3%;
					width: 50px;
					cursor: pointer;
					@include smlPad{
						width: 50px;
					}
					@include smlPhone{
						width: 40px;
					}
				}
				div{
					display: inline-block;
					position: relative;
					left: 50%;
					transform: translateX(-50%);
					p{
						color: $blue2;
						&:nth-child(1){
							font-size: $h3;
							text-align: center;
							line-height: 45px;
							margin-bottom: 45px;
							@include smlPad{
								font-size: $h4;
								line-height: 40px;
								margin-bottom: 35px;
							}
						}
						&:nth-child(2){
							font-size: $bp;
							text-align: center;
							@include smlPad{
								font-size: $mp;
							}
						}
						span{
							font-size: $mp;
							margin-left: 20px;
							@include smlPad{
								font-size: $sp;
							margin-left: 15px;
							}
						}
						&:nth-child(3){
							font-size: $h4;
							margin-top: 25px;
							margin-bottom: 10px;
							text-align: center;
							@include smlPad{
								font-size: $bp;
								margin-top: 15px;
							}
						}
						&:nth-child(4){
							font-size: $h4;
							text-align: center;
							margin-bottom: 25px;
							@include smlPad{
								font-size: $bp;
							}
						}
						
					}
					button.booking{
						@include btn($h4);
						margin: 0 62px;
						@include smlPad{
							@include btn($bp);
						}
						@include smlPhone{
							@include btn($mp);
							margin: 0 45px;
						}
					}
					button.bookAlready{
						@include bookAlready($h4);
						margin: 0 80px;
						@include smlPad{
							@include bookAlready($bp);
							margin: 0 78px;
						}
						@include smlPhone{
							@include bookAlready($mp);
							margin: 0 58px;
						}
						
					}
					button.bookFullBtn{
						@include bookFullBtn($h4);
						margin: 0 62px;
						@include smlPad{
							@include bookFullBtn($bp);
						}
						@include smlPhone{
							@include bookFullBtn($mp);
							margin: 0 45px;
						}
					}
				}
			}
		}
		div.bookLightBoxAll.on{
			z-index: 2;
      opacity: 1;
		}
	}
}
/* tutorial結束 */
